:root #dc-fa {
  --dc-primary: rgb(68, 97, 45);
  --link-color: rgba(233,131,0);
}

/* header#main-nav */
#main-nav {
  padding: 9px 0 18px 0;
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 5px 5px 0 rgba(6, 6, 6, 0.18);
  -webkit-box-shadow: 0 5px 5px 0 rgba(6, 6, 6, 0.18);
  box-shadow: 0 5px 5px 0 rgba(6, 6, 6, 0.18);
}

header#main-nav {
  width: 100%;
  overflow: hidden;
  height: 114px;
}
#main-nav #logo {
  transition: all 0.3s;
}
#main-nav .container {
  padding: 0;
}
#main-nav a,
#main-nav a * {
  text-decoration: none;
}
#logo {
  float: left;
  margin-top: 0;
  width: 197px;
  height: auto;
  padding-left: 9px;
}
#logo a {
  display: block;
}
#logo a img {
  display: block;
  width: 100%;
}

#main-nav .navbar-nav a:focus,
#main-nav .navbar-nav a:hover {
  color: #ffffff;
  background-color: #4e5b31;
}

.nav {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.navbar-default .navbar-nav > li > a {
  padding: 8px 24px;
  color: #4e5b31;
  font-size: 16px;
  line-height: 19px;
  display: block;
  min-height: 2em;
}
#nav-about,
#nav-faq {
  line-height: 2em;
}
@media only screen and (max-width: 768px) {
  .navbar-default .navbar-nav > li {
    border-top: 1px solid #d9d9d9;
    border-left: none !important;
    border-right: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-default .navbar-nav > li > a {
    font-size: 14px !important;
    padding: 8px 12px;
  }
  .navbar-default .navbar-nav > li {
    border: none !important;
  }
}

.navbar-default .navbar-nav > li > a span {
  display: block;
  text-align: center;
}
.navbar-default .navbar-nav > li > a.dropdown-toggle,
.navbar-default .navbar-nav > li > a.dropdown-toggle span {
  display: initial;
  padding: 0;
}
.navbar-default .navbar-nav {
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li:first-child {
  border-left: 1px solid #d9d9d9;
}
.navbar-default .navbar-nav > li {
  border-right: 1px solid #d9d9d9;
}
.navbar.dropdown {
  z-index: 101;
}
.navbar-nav > li {
  float: left;
}
.nav > li {
  position: relative;
  display: block;
}
.navbar-#main-nav {
  float: left;
}
.navbar-toggler {
  border-color: rgba(78, 97, 45, .5);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2878, 91, 49, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.navbar-toggle {
  display: none;
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-image: none;
}
.navbar-toggle:focus,
.navbar-toggle:hover {
  background-color: transparent;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/* footer#main-footer */


#main-footer .container {
  padding: 0;
}
html.gecko.ff #main-footer .container {
  display: inline-block;
}
#main-footer a,
#main-footer a:link,
#main-footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
#main-footer a:focus,
#main-footer a:hover {
  color: #cccccc;
  text-decoration: none;
}
#footer_row_one {
  margin-bottom: 40px;
  text-align: right;
  position: relative;
}
#footer_logo {
  float: left;
  width: 161px;
}
#footer_logo a {
  display: block;
}
#footer_logo a img {
  display: block;
  width: 100%;
}
#footer_nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 190px;
  height: 49px;
  line-height: 49px;
  border-left: 1px solid #999999;
}
#footer_nav li {
  display: inline-block;
  margin-left: 30px;
}
#footer_row_two {
  text-align: right;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #999999;
}
#footer_badges {
  position: absolute;
  bottom: 30px;
  right: 0;
}
#footer_badges img {
  vertical-align: top;
}
#footer_badges a:first-child img {
  margin-right: 30px;
}
#footer_social {
  float: left;
  text-align: left;
}
#footer_social span {
  display: block;
  margin-bottom: 15px;
}
.social_icons {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
#main-footer .social_icons {
  float: left;
}
.social_icons li {
  display: inline-block;
  vertical-align: top;
  float: left;
  margin-left: 10px;
}
.social_icons.first li:first-child {
  margin-left: 0;
}
.social_icons li a {
  font-size: 0;
  text-indent: -9000px;
  display: block;
  position: relative;
  width: 50px !important;
  height: 50px;
}
.social_icons > li > a > span {
  position: absolute;
  bottom: 0;
  visibility: hidden;
}
#footer_links {
  text-align: center;
  margin-bottom: 30px;
}
#footer_links a {
  display: inline-block;
  margin: 0 17px;
}
#footer_links a:after {
  content: " ›";
}
#footer_text {
  text-align: center;
  font-size: 12px;
  font-weight: 200;
}
#footer_copyright p {
  margin: 0 0 20px 0;
}
#footer_disclaimer p {
  margin: 0;
}
#footer_disclaimer p:first-child {
  margin: 0 0 10px 0;
}
#footer_col_two ul.footer_nav_redesign li.footer-head,
.help-boxes h3 {
  text-transform: uppercase;
}
ul.footer_nav_redesign {
  display: inline-block;
  vertical-align: top;
  margin: 20px 0 20px 33px;
  list-style-type: none;
  padding: 0;
}
.footer_nav_redesign li.footer-head h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 0;
}
.footer_nav_redesign li.footer-head h2:after {
  content: " â€º";
}
#footer_logo,
#footer_social,
#main-footer .social_icons {
  float: none;
}
#footer_social {
  margin: 40px 0 20px;
}
#footer_badges {
  position: static;
  float: left;
}
#footer_col_one,
#footer_col_two {
  display: inline-block;
}
#footer_col_one {
  width: 25%;
}
#footer_col_two {
  width: 73%;
  vertical-align: top;
}
#footer_col_two ul:first-child {
  display: none;
}
#footer_col_two ul:nth-child(2n) {
  max-width: 16%;
}
#footer_col_two ul:nth-child(3n) {
  max-width: 24%;
}
#footer_col_two ul:nth-child(4n) {
  max-width: 20%;
}
#footer_col_two ul:nth-child(5n) {
  max-width: 19%;
}
.footer_nav_redesign li {
  font-size: 12px;
  line-height: 16px;
  padding: 5px 0;
  text-align: left;
}
.social_icons li a {
  background-image: url(../images/sprites.png);
}
.social_icons li.fbk a,
.social_icons li.fbk a:focus,
.social_icons li.fbk a:hover {
  background-position: 0 0;
}
.social_icons li.twt a,
.social_icons li.twt a:focus,
.social_icons li.twt a:hover {
  background-position: -100px 0;
}
.social_icons li.igm a,
.social_icons li.igm a:focus,
.social_icons li.igm a:hover {
  background-position: -200px 0;
}
.social_icons li a:focus,
.social_icons li a:hover {
  opacity: 0.8;
}
#footer_badges a:first-child img {
  width: 70px;
  margin-right: 10px;
}
#footer_badges a:nth-child(2) img {
  width: 90px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #footer_col_two ul.footer_nav_redesign {
    margin: 20px 0 20px 10px;
  }
  #footer_col_two ul.footer_nav_redesign:nth-child(1) {
    width: 18%;
  }
  #footer_col_two ul.footer_nav_redesign:nth-child(3) {
    width: 20%;
  }
  #footer_col_two ul.footer_nav_redesign:nth-child(2) {
    width: 27%;
  }
  #footer_col_two ul.footer_nav_redesign:nth-child(4) {
    width: 24%;
  }
  #footer_links a {
    margin: 0 10px;
  }
  #footer_badges a:first-child img {
    width: 70px;
    display: inline-block;
    margin-right: 10px;
  }
  #footer_badges a:nth-child(2) img {
    width: 90px;
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .footer_nav_redesign li {
    display: none;
  }
  .footer_nav_redesign li.footer-head {
    display: block;
    text-align: right;
  }
  #footer_col_two ul.footer_nav_redesign {
    display: block;
  }
  #footer_col_two {
    width: 40%;
  }
  #footer_col_two ul:first-child {
    display: none;
  }
  #footer_col_two ul:nth-child(2n) {
    max-width: none;
  }
  #footer_col_two ul:nth-child(3n) {
    max-width: none;
  }
  #footer_col_two ul:nth-child(4n) {
    max-width: none;
  }
  #footer_col_two ul:nth-child(5n) {
    max-width: none;
  }
  #footer_col_one {
    width: 45%;
    margin-left: 30px;
  }
  #footer_social {
    padding: 0;
    border-bottom: 0;
    margin: 30px 0;
  }
  #footer_badges {
    text-align: left;
    max-width: 150px;
  }
  #footer_badges a:first-child img {
    width: 90px;
    margin-bottom: 15px;
  }
  #footer_badges a:nth-child(2) img {
    width: 90px;
  }
}

/* DC OVERRIDES */
#dc-fa #main-nav #logo {
  margin-top: 0;
  width: 157px;
}

#dc-fa #main-nav #logo a img {
  width: 75%;
  height: 75%;
}

#dc-fa #main-nav .container-fluid {
  padding-left: 15px;
}

#dc-fa #main-nav h1 {
  font-size: 17.6px;
  font-weight: 500;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: inline-block;
  line-height: 56px;
  margin-top: 6px;
  margin-bottom: 0;
}

#dc-fa #main-nav h1 a {
  color: #4e5b31
}

#page-about #nav-about,
#page-faq #nav-faq,
#page-timeline #nav-timeline,
#page-scatter #nav-scatter,
#page-map #nav-map {
  background: #4e5b31;
  color: #fff;
}

#dc-fa header#main-nav {
  height: auto;
}

#dc-fa #main-nav .navbar-collapse {
  margin-top: 6px;
}

#dc-fa .btn.btn-primary {
  background-color: rgba(233,131,0);
}

#dc-fa #main-footer {
  background-color: #333333;
  color: #ffffff;
}
#dc-fa #main-footer .container .container {
  padding: 29px 0 70px 0;
}
#dc-fa #main-footer .separator {
  background: white;
  width: 100%;
  height: 1px;
  margin: 2.5rem 0;
}
#dc-fa .navbar {
  padding: 0 1rem;
}

#dc-fa #main-footer #sub-footer {
  border: none! important;
  background-color: #333333;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  line-height: 2.5rem;
}

#dc-fa #bq-link {
  display: none;
}