<section class="section--about">
    <h2 class="section__heading">About the project</h2>
    <div class="section__content">
        <p>The ONE Campaign and Google partnered under a common objective: to get data in the hands of people. Our joint work on ONE Data Commons enables users to harness the power of AI to access and make sense of vast amounts of data on global economic, political, and social topics. All with the aim of ensuring that everyone, everywhere is empowered to challenge the status quo, demand action, and catalyze an end to extreme poverty and preventable disease.</p>
        <p>ONE Data Commons is a powerful tool combining the data and research from data.one.org and hundreds of billions of data points on economics, climate, health, demographics and more from Google's Data Commons.</p>
    </div>
</section>