<footer id="footer">
    <div class="footer__inner container">
        <div class="footer__before">
            <div class="powered-by-data-commons">
                <span class="powered-by">Powered by Google's</span>
                <a href="https://datacommons.org" target="_blank" class="by-data-commons">Data Commons</a>
            </div>
        </div>
        <div class="footer__section row">
            <div class="footer__col-one col-sm-12 col-md-12 col-lg-3 col-xl-2">
                <h4 class="footer__section-heading">About ONE</h4>
                <nav class="footer-menu footer-menu__links">
                    <ul class="menu menu__footer-one">
                        <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-27">
                            <a href="https://www.one.org/about/" target="_blank" class="" title="Who We Are">
                                Who We Are
                            </a>
                        </li>
                        <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-28">
                            <a href="https://www.one.org/about/financials/" target="_blank" class="" title="Financials">
                                Financials
                            </a>
                        </li>
                        <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-29">
                            <a href="https://www.one.org/about/board-and-leadership/" target="_blank" class=""
                                title="Leadership">
                                Leadership
                            </a>
                        </li>
                        <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-30">
                            <a href="https://www.one.org/about/media-centre/" target="_blank" class="" title="Press">
                                Press
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__col-two col-sm-12 col-md-12 col-lg-3 col-xl-2">
                <h4 class="footer__section-heading">Issues</h4>
                <nav class="footer-menu footer-menu__links">
                    <ul class="menu menu__footer-two">
                        <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-31">
                            <a href="https://www.one.org/what-we-do/the-issues/" target="_blank" class=""
                                title="Explore the Issues">
                                Explore the Issues
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__col-three col-sm-12 col-md-12 col-lg-3 col-xl-2">
                <h4 class="footer__section-heading">Get Involved</h4>
                <nav class="footer-menu footer-menu__links">
                    <ul class="menu menu__footer-three">
                        <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-34">
                            <a href="https://www.one.org/join/" target="_blank" class="" title="Join ONE">
                                Join ONE
                            </a>
                        </li>
                        <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-35">
                            <a href="https://www.one.org/what-we-do/our-impact/" target="_blank" class=""
                                title="Our Victories">
                                Our Victories
                            </a>
                        </li>
                        <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-36">
                            <a href="https://red.org/" target="_blank" class="" title="(RED)">
                                (RED)
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__col-four col-sm-12 col-md-12 col-lg-3 col-xl-6">
                <nav class="footer-menu footer-menu__social">
                    <h4 class="footer__section-heading">Connect With Us</h4>
                    <ul class="social-networks">
                        <li class="social-network">
                            <a href="https://www.facebook.com/ONE" target="_blank" rel="me"
                                aria-label="Visit our Facebook profile" title="Visit our Facebook profile">
                                <svg class="icon--facebook">
                                    <use xlink:href="/img/icons.svg#facebook"></use>
                                </svg>
                                <span aria-hidden="true" class="visually-hidden">Facebook</span>
                            </a>
                        </li>
                        <li class="social-network">
                            <a href="https://twitter.com/ONEAftershocks" target="_blank" rel="me"
                                aria-label="Visit our Twitter profile" title="Visit our Twitter profile">
                                <svg class="icon--twitter">
                                    <use xlink:href="/img/icons.svg#twitter"></use>
                                </svg>
                                <span aria-hidden="true" class="visually-hidden">Twitter</span>
                            </a>
                        </li>
                        <li class="social-network">
                            <a href="https://instagram.com/one" target="_blank" rel="me"
                                aria-label="Visit our Instagram profile" title="Visit our Instagram profile">
                                <svg class="icon--instagram">
                                    <use xlink:href="/img/icons.svg#instagram"></use>
                                </svg>
                                <span aria-hidden="true" class="visually-hidden">Instagram</span>
                            </a>
                        </li>
                        <li class="social-network">
                            <a href="https://www.tiktok.com/@one.org" target="_blank" rel="me"
                                aria-label="Visit our TikTok profile" title="Visit our TikTok profile">
                                <svg class="icon--tiktok">
                                    <use xlink:href="/img/icons.svg#tiktok"></use>
                                </svg>
                                <span aria-hidden="true" class="visually-hidden">TikTok</span>
                            </a>
                        </li>
                        <li class="social-network">
                            <a href="https://www.youtube.com/TheONECampaign" target="_blank" rel="me"
                                aria-label="Visit our YouTube profile" title="Visit our YouTube profile">
                                <svg class="icon--youtube">
                                    <use xlink:href="/img/icons.svg#youtube"></use>
                                </svg>
                                <span aria-hidden="true" class="visually-hidden">YouTube</span>
                            </a>
                        </li>
                        <li class="social-network">
                            <a href="https://www.linkedin.com/company/one-campaign/" target="_blank" rel="me"
                                aria-label="Visit our LInkedIn profile" title="Visit our LInkedIn profile">
                                <svg class="icon--linkedin">
                                    <use xlink:href="/img/icons.svg#linkedin"></use>
                                </svg>
                                <span aria-hidden="true" class="visually-hidden">LInkedIn</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer__sub">
            <small class="copyright">© ONE Campaign, 2023</small>
            <nav class="footer-menu footer-menu__sub">
                <ul class="menu menu__footer-sub">
                    <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-78">
                        <a href="https://www.one.org/privacy/" target="_blank" class="" title="Privacy">
                            Privacy
                        </a>
                    </li>
                    <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-79">
                        <a href="https://www.one.org/safeguarding/" target="_blank" class="" title="Safeguarding">
                            Safeguarding
                        </a>
                    </li>
                    <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-80">
                        <a href="https://www.one.org/jobs/" target="_blank" class="" title="Jobs">
                            Jobs
                        </a>
                    </li>
                    <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-81">
                        <a href="https://www.one.org/unsubscribe/" target="_blank" class="" title="Unsubscribe">
                            Unsubscribe
                        </a>
                    </li>
                    <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-82">
                        <a href="https://www.one.org/contact/" target="_blank" class="" title="Contact">
                            Contact
                        </a>
                    </li>
                    <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-83">
                        <a href="https://www.one.org/sitemap/" target="_blank" class="" title="Sitemap">
                            Sitemap
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="#" onclick="UC_UI.showSecondLayer();" class="footer__cookie-consent">Cookies</a>
        </div>
    </div>
</footer>