<div class="hero has-bg-image">
    <div class="hero__container container">
        <div class="hero__inner">
            <div class="hero__main">
                <header class="hero__header">
                    <h1 class="hero__headline">
                        ONE Data Commons
                    </h1>
                </header>
                <div>{% include 'custom_dc/one/partials/home-search.html' %} </div>
                <div class="hero__description">
                    <p>
                        Data tells an important story. Where someone is going, where they are, and where they have been. It shows us how countries and economies develop – or how they come apart. And it tells us of hopeful progress that the world has made against poverty, inequality, and diseases.
                    </p>
                    <p>
                        Explore our data on the dynamic people and economies throughout Africa, and understand how the continent is evolving in a volatile world.
                    </p>
                </div>
                {% include 'custom_dc/one/partials/home-search.html' %}  
            </div>
            <img width="2560" height="803"
                src="/custom_dc/one/hero-banner.webp"
                alt="Hero data.one.org x Data Commons"
                class="hero__image">
        </div>
    </div>
</div>