**/node_modules

**/dist
**/__pycache__
**/.pytest_cache
.pytest_cache

.git
.env

pytest_log.txt

**/eval/**/result

**/.venv*
.venv*
nl_server/
tools/

import/simple/sample/
**/.data
**/testdata
**/test_data
import/simple/tests/
