**/node_modules

**/dist
**/__pycache__
**/.pytest_cache
.pytest_cache

.git
.env
**/.venv
**/.venv_*

pytest_log.txt

**/eval/**/result

import/pipeline/
import/tool/
import/tools/
import/util/
import/simple/sample/
**/.data
**/testdata
**/test_data
