# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
.git
.gitignore
#!include:.gitignore
#!include:.dockerignore
!mcf_parser.py

# Python pycache:
**/__pycache__/**
.pytest_cache/

# Ignored by the build system
/setup.cfg

**/node_modules/
static/node_modules/
packages/client/node_modules/
packages/web-components/node_modules/

server/dist/

**/.venv*/
.venv*/

