# Python files
__pycache__/
.pytest_cache
*.pyc
.env/
test_screenshots/

# Production static files
server/dist/**
!server/dist/.empty

**/node_modules/**

# Local env.
.vscode
*.swp

# Mac
.DS_Store

tmp/

.air.toml

# Kubernetes
gke/config.yaml
gke/endpoints.yaml
gke/mci.yaml

mixer-grpc.*.pb
deploy/overlays/**/endpoints.yaml
deploy/overlays/prod/prod.yaml
deploy/overlays/staging/staging.yaml
deploy/overlays/autopush/autopush.yaml
deploy/overlays/svobs/svobs.yaml