fsspec==2024.2.0
datasets==2.18.0
google-cloud-aiplatform==1.42.1
google-cloud-storage==2.15.0
lancedb==0.6.8
pandas==2.1.0
scikit-learn==1.2.2
sentence-transformers==2.2.2
spacy==3.7.4
torchvision==0.17.2
