kind: ConfigMap
apiVersion: v1
metadata:
  name: ingress-config
  namespace: {{ .Values.namespace.name }}
data:
  rules: |
  {{- range $serviceName, $group := .Values.serviceGroups }}
    {{- if $group }}
      dc-mixer-{{ $serviceName }}:
      {{- range $index, $urlPath := $group.urlPaths }}
        - {{ $urlPath }}
      {{- end }}
    {{- end }}
  {{- end }}


kind: ConfigMap
apiVersion: v1
metadata:
  name: place-summary-config
  namespace: {{ .Values.namespace.name }}
data:
  place_summaries.json: {{ required "Place summary config is required" .Values.website.placeSummary | quote }}


{{- if .Values.nl.enabled }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: nl-config
  namespace: {{ .Values.namespace.name }}
data:
  embeddings.yaml: {{ required "NL embeddings file is required" .Values.nl.embeddings | quote }}
  models.yaml: {{ required "NL models file is required" .Values.nl.models | quote }}
{{- end }}


{{- if .Values.website.redis.enabled }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: redis-config
  namespace: {{ .Values.namespace.name }}
data:
  redis.json: {{ required "Redis config file is required" .Values.website.redis.configFile | quote }}
{{- end }}


---
kind: ConfigMap
apiVersion: v1
metadata:
  name: blocklist-svg
  namespace: {{ .Values.namespace.name }}
data:
  blocklist_svg.json: {{ toJson .Values.svg.blocklistFile | quote }}


{{- if .Values.cronTesting.enabled }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: cron-testing-config
  namespace: {{ .Values.namespace.name }}
data:
  webApiRoot: {{ .Values.cronTesting.webApiRoot | quote }}
  nodejsApiRoot: {{ .Values.cronTesting.nodejsApiRoot | quote }}
{{- end }}