kind: ConfigMap
apiVersion: v1
metadata:
  name: ingress-config
  namespace: {{ .Values.namespace.name }}
data:
  rules: |
  {{- range $serviceName, $group := .Values.serviceGroups }}
    {{- if $group }}
      dc-mixer-{{ $serviceName }}:
      {{- range $index, $urlPath := $group.urlPaths }}
        - {{ $urlPath }}
      {{- end }}
    {{- end }}
  {{- end }}

---

kind: ConfigMap
apiVersion: v1
metadata:
  name: ai-config
  namespace: {{ .Values.namespace.name }}
data:
  ai.yaml: {{ .Values.website.ai | quote }}


{{- if .Values.nl.enabled }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: nl-config
  namespace: {{ .Values.namespace.name }}
data:
  model.yaml: {{ required "NL embeddings file is required" .Values.nl.embeddings | quote }}
{{- end }}


{{- if .Values.website.redis.enabled }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: redis-config
  namespace: {{ .Values.namespace.name }}
data:
  redis.json: {{ required "Redis config file is required" .Values.website.redis.configFile | quote }}
{{- end }}
