# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Website App Kubernetes Deployment config. (https://kubernetes.io/docs/concepts/workloads/controllers/deployment/)
# This is to be extended by the dev/autopush/staging/prod overlay.
# The deployment contains Flask web server container , gRPC mixer container and ESP container that transcodes grpc to JSON.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: website-app{{ .Values.resourceSuffix }}
  namespace: {{ .Values.namespace.name }}
spec:
  replicas: {{ .Values.replicas.default }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      # maximum number of Pods that can be created over the desired number of Pods
      # 25% of default pods (+1 in case default < 4)
      maxSurge: {{ div .Values.replicas.default 4 | add 1 }}
      # Maximum number of pods that can be unavailable during the update process
      # 25% of default pods (+1 in case default < 4)
      maxUnavailable: {{ div .Values.replicas.default 4 | add 1 }}
  selector:
    matchLabels:
      app: website-app{{ .Values.resourceSuffix }}
  template:
    metadata:
      labels:
        app: website-app{{ .Values.resourceSuffix }}
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      volumes:
        - name: ai-config
          configMap:
            name: ai-config{{ .Values.resourceSuffix }}
        # - name: ingress-config
        #   configMap:
        #     name: website-dev-mixer-ingress-config-for-website
        - name: memdb-config
          configMap:
            name: memdb-config{{ .Values.resourceSuffix }}
        - name: schema-mapping
          configMap:
            name: schema-mapping{{ .Values.resourceSuffix }}
      containers:
        - name: website
          image:  "gcr.io/{{ .Values.website.image.project }}/datacommons-website:{{ .Values.website.image.tag }}"
          imagePullPolicy: {{ .Values.website.image.pullPolicy }}
          args: []
          ports:
            - containerPort: 8080
          startupProbe:
            httpGet:
              path: /healthz
              port: 8080
            failureThreshold: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            failureThreshold: 1
            periodSeconds: 10
          resources:
            limits:
              memory: "3G"
            requests:
              memory: "3G"
          volumeMounts:
            - name: ai-config
              mountPath: /datacommons/ai
            # - name: ingress-config
            #   mountPath: /datacommons/ingress
          env:
            - name: FLASK_ENV
              valueFrom:
                configMapKeyRef:
                  name: website-configmap{{ .Values.resourceSuffix }}
                  key: flaskEnv
            - name: WEBSITE_HASH
              valueFrom:
                configMapKeyRef:
                  name: githash-configmap{{ .Values.resourceSuffix }}
                  key: website_hash.txt
            - name: BIG_QUERY
              valueFrom:
                configMapKeyRef:
                  name: store-config{{ .Values.resourceSuffix }}
                  key: bigquery.version
            - name: ENABLE_MODEL
              valueFrom:
                configMapKeyRef:
                  name: website-configmap{{ .Values.resourceSuffix }}
                  key: enableModel
            # - name: INGRESS_CONFIG_PATH
            #   value: /datacommons/ingress/rules
            # A dummy config used to bounce the server without any docker image
            # or data config change.
            - name: BOUNCE
              value: "dummy"
        - name: mixer
          image:  "gcr.io/{{ .Values.mixer.image.project }}/datacommons-mixer:{{ .Values.mixer.image.tag }}"
          imagePullPolicy: {{ .Values.mixer.image.pullPolicy }}
          resources:
            limits:
              memory: "8G"
            requests:
              memory: "8G"
          args:
            - --base_bigtable_info=$(BASE_BIGTABLE_INFO)
            - --custom_bigtable_info=$(CUSTOM_BIGTABLE_INFO)
            - --mixer_project=$(MIXER_PROJECT)
            - --bq_dataset=$(BIG_QUERY)
            - --schema_path=/datacommons/mapping
            - --memdb_path=/datacommons/memdb
            {{- if eq $.Values.mixer.useTMCFCSVData true }}
            - --use_tmcf_csv_data=true
            - --tmcf_csv_bucket={{ $.Values.mixer.tmcfCSVBucket }}
            - --tmcf_csv_folder={{ $.Values.mixer.tmcfCSVFolder }}
            {{- end }}
          volumeMounts:
            - name: schema-mapping
              mountPath: /datacommons/mapping
            - name: memdb-config
              mountPath: /datacommons/memdb
          env:
            - name: BASE_BIGTABLE_INFO
              valueFrom:
                configMapKeyRef:
                  name: store-config{{ .Values.resourceSuffix }}
                  key: base_bigtable_info.yaml
            - name: CUSTOM_BIGTABLE_INFO
              valueFrom:
                configMapKeyRef:
                  name: store-config{{ .Values.resourceSuffix }}
                  key: custom_bigtable_info.yaml
            - name: MIXER_PROJECT
              valueFrom:
                configMapKeyRef:
                  name: mixer-configmap{{ .Values.resourceSuffix }}
                  key: mixerProject
            - name: BIG_QUERY
              valueFrom:
                configMapKeyRef:
                  name: store-config{{ .Values.resourceSuffix }}
                  key: bigquery.version
            - name: MIXER_HASH
              valueFrom:
                configMapKeyRef:
                  name: githash-configmap{{ .Values.resourceSuffix }}
                  key: mixer_hash.txt
          ports:
            - containerPort: 12345
          startupProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:12345"]
            failureThreshold: 30
            periodSeconds: 10
          readinessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:12345"]
            periodSeconds: 10
          livenessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:12345"]
            periodSeconds: 10
            initialDelaySeconds: 10
        - name: esp
          image:  "{{ .Values.esp.image.repository }}:{{ .Values.esp.image.tag }}"
          imagePullPolicy: {{ .Values.esp.image.pullPolicy }}
          args:
            - --service=$(SERVICE_NAME)
            - --rollout_strategy=managed
            - --http_port=8081
            - --backend=grpc://127.0.0.1:12345
            - --cors_preset=basic
            - --healthz=healthz
          env:
            - name: SERVICE_NAME
              valueFrom:
                configMapKeyRef:
                  name: mixer-configmap{{ .Values.resourceSuffix }}
                  key: serviceName
          resources:
            limits:
              memory: "1G"
            requests:
              memory: "1G"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8081
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            periodSeconds: 5
            initialDelaySeconds: 5
          ports:
            - containerPort: 8081


