# Default values for dc-website.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

###############################################################################
# Config for Website
###############################################################################
website:
  githash:

  image:
    project: "datcom-ci"
    pullPolicy: Always
    tag:

  flaskEnv: "custom"

  # IAP(Identity Aware Proxy) config.
  # IAP can be enabled independently of ingress.
  iap:
    enabled: false

  replicas:
    default: 1

  redis:
    enabled: false
    configFile:

nameOverride: ""
fullnameOverride: ""

# Namespace for the deployment.
# Set enabled to false to deploy into an existing namespace.
namespace:
  create: false
  name: website

# Config for k8s-sa(service account). The k8s-sa will be bound to a
# GCP-sa using annotations, specified below.
serviceAccount:
  name: website-ksa

singleClusterMode:
  name: website-ingress
  ipName: dc-website-ip
  certName: dc-website-cert
  enabled: false

###############################################################################
# Config for Mixer helm chart
###############################################################################
mixer:
  githash:

  image:
    project: "datcom-ci"
    pullPolicy: Always
    tag:

    useTMCFCSVData: false
    tmcfCSVBucket: ""
    tmcfCSVFolder: ""

    hostProject:
    serviceName:

    schemaConfigs:

esp:
  image:
    repository: gcr.io/endpoints-release/endpoints-runtime
    tag: "1"
    pullPolicy: Always

kgStoreConfig:
  bigqueryVersion:
  baseBigtableInfo:
  customBigtableInfo: ""

memdbJSON: ""

serviceGroups:
  svg:
    urlPaths:
      - "/place/stat-var-group/*"
      - "/stat-var/*"
      - "/v1/info/variable-group/*"
      - "/v1/variable/*"
      - "/v1/bulk/info/variable-group"
      - "/v1/bulk/info/variable"
    replicas: 1
    resources:
      memoryRequest: "8G"
      memoryLimit: "8G"
    useSearch: true
  default:
    urlPaths:
      - "/*"
    replicas: 1
    resources:
      memoryRequest: "4G"
      memoryLimit: "4G"

###############################################################################
# Config for NL
###############################################################################
nl:
  enabled: false
  embeddings:
