# Default values for dc-website.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

resourceSuffix: ""

# Website service config.
website:
  # Domain is a the domain that the installer owns.
  # The installer is responsible for adding an "A" record in
  # the DNS that points to the global static ip referred in this file.
  domain:
  githash:

  image:
    project: "datcom-ci"
    pullPolicy: Always
    tag:

  flaskEnv: "custom"
  secretGCPProjectID:
  enableModel: false

  # IAP(Identity Aware Proxy) config.
  # iap can be enabled independently of ingress.
  iap:
    enabled: false

  replicas:
    default: 1
  iap:
    enabled: false

nameOverride: ""
fullnameOverride: ""

# Namespace for the deployment.
# Set enabled to false to deploy into an existing namespace.
namespace:
  create: false
  name: website

# Config for k8s-sa(service account). The k8s-sa will be bound to a
# GCP-sa using annotations, specified below.
serviceAccount:
  name: website-ksa

ingress:
  name: website-ingress
  ipName: dc-website-ip
  certName: dc-website-cert
  enabled: true

###############################################################################
# Config for Mixer helm chart
###############################################################################

mixer:
  githash:

  image:
    project: "datcom-ci"
    pullPolicy: Always
    tag:

    useTMCFCSVData: false
    tmcfCSVBucket: ""
    tmcfCSVFolder: ""

    gcpProjectID:
    serviceName:

    schemaConfigs:

esp:
  image:
    repository: gcr.io/endpoints-release/endpoints-runtime
    tag: "1"
    pullPolicy: Always

kgStoreConfig:
  bigqueryVersion:
  baseBigtableInfo:
  customBigtableInfo: ""

memdbJSON: ""
###############################################################################
# END Config for Mixer helm chart
###############################################################################

###############################################################################
# Config for NL
###############################################################################
nl:
  enabled: false
  embeddings: |
    embeddings_file: embeddings_us_filtered_2023_02_24_08_32_22.csv

###############################################################################
# END Config for NL
###############################################################################
