# Default values for dc-website.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

resourceSuffix:

# Website service config.
website:
  # Domain is a the domain that the installer owns.
  # The installer is responsible for adding an "A" record in
  # the DNS that points to the global static ip referred in this file.
  domain:
  githash:

  image:
    repository: gcr.io/datcom-ci/datacommons-website
    pullPolicy: Always
    tag:

  flaskEnv:
  secretGCPProjectID:
  enableModel: false

  # IAP(Identity Aware Proxy) config.
  # iap can be enabled independently of ingress.
  iap:
    enabled: false
    clientID:
    secret:

nameOverride: ""
fullnameOverride: ""

# Namespace for the deployment.
# Set enabled to false to deploy into an existing namespace.
namespace:
  create: false
  name: website

# Config for k8s-sa(service account). The k8s-sa will be bound to a
# GCP-sa using annotations, specified below.
serviceAccount:
  name: website-ksa

ingress:
  name: website-ingress
  enabled:
  annotations: { kubernetes.io/ingress.global-static-ip-name: mixer-ip }

###############################################################################
# Config for Mixer helm chart
###############################################################################

mixer:
  githash:

  image:
    repository: gcr.io/datcom-ci/datacommons-mixer
    pullPolicy: Always
    tag:

    useTMCFCSVData: false
    tmcfCSVBucket: ""
    tmcfCSVFolder: ""

    gcpProjectID:
    serviceName:

    schemaConfigs:

esp:
  image:
    repository: gcr.io/endpoints-release/endpoints-runtime
    tag: "1"
    pullPolicy: Always

replicas:
  default: 1

kgStoreConfig:
  bigqueryVersion:
  baseBigtableInfo:
  customBigtableInfo: ""

memdbJSON: ""
###############################################################################
# END Config for Mixer helm chart
###############################################################################
