# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Helm config
project: "datcom-recon-autopush"
cluster_prefix: "datacommons"

namespace:
  name: "website"

website:
  image:
    project: "datcom-ci"
    tag:
  githash:
  flaskEnv: unsdg
  replicas: 2

mixer:
  hostProject:
  serviceName:

serviceAccount:
  name: website-ksa

ingress:
  enabled: true

nl:
  enabled: true

serviceGroups:
  recon: null
  observation:
    replicas: 3
  node:
    replicas: 3
  svg:
    replicas: 2
  default:
    replicas: 3

svg:
  blocklistFile: ["dc/g/Uncategorized", "oecd/g/OECD"]
