# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# DNS
domain: staging.unsdg.datacommons.org
ip: 34.120.81.84

# Helm config
project: "datcom-un-staging"
cluster_prefix: "website"

namespace:
  name: "website"

website:
  flaskEnv: unsdg_staging
  replicas: 2
  redis:
    enabled: false

serviceAccount:
  name: website-ksa

ingress:
  enabled: true
  enableMixer: true

mixer:
  useCustomBigtable: true

nl:
  enabled: true
  env:
    default_indexes:
      - sdg_ft
    enabled_indexes:
      - medium_ft
      - sdg_ft
      - undata_ft
      - undata_ilo_ft

serviceGroups:
  recon: null
  svg: null
  node: null
  observation: null
  default:
    replicas: 3
    cacheSVG: true # No svg service, this needs to use search
    resources:
      memoryRequest: "8G"
      memoryLimit: "8G"

kgStoreConfig:
  customBigtableInfo: |
    project: datcom-un-staging
    instance: dc-graph
    tables:
      - ilo_2024_05_15_14_43_26

svg:
  blocklistFile: ["dc/g/Uncategorized", "oecd/g/OECD"]
