body {
  color: #424242;
}
.dc-navbar {
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  background-color: white !important;
  height: 80px;
  justify-content: center;
}
.dc-navbar-brand {
  font-family: "Museo Sans Rounded", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
}
.dc-navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dc-subnav {
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  background-color: white !important;
  display: flex;
  flex-direction: row;

  justify-content: center;
}
.dc-subnav-item {
  padding: 0 0.85rem;
}
.dc-subnav-item:hover {
  background-color: #f8f8f8;
}
.dc-subnav-item a {
  color: #424242;
  display: flex;
  font-size: 0.9rem;
}
.dc-subnav-item a .dc-subnav-link {
  padding: 0.8rem 0;
}
.dc-subnav-item a .dc-subnav-link.selected {
  font-weight: 500;
  box-shadow: inset 0 -2px 0 #9a0000;
  color: #9a0000;
}
.dc-subnav-item:hover a {
  text-decoration: none;
}
.sidebar-container {
  max-height: calc(100vh - 1rem);
  overflow: auto;
}
.sidebar-link {
  align-items: center;
  border-left: 2px solid transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}
.sidebar-link a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #424242;
}
.sidebar-link a:hover {
  text-decoration: none;
}
.sidebar-link:hover {
  border-left: 2px solid #efefef;
}
.sidebar-link-icon {
  background-color: #f5f5f5;
  margin-left: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin-right: 0.75rem;
}
.sidebar-link:hover .sidebar-link-icon {
  background-color: #efefef;
}
.sidebar-link:hover .sidebar-link-text {
  text-decoration: underline;
}

/** Datacommons style overrides */
.chart-container {
  height: unset; /** Prevents map chart overflow */
}

.charts .col-chart {
  width: 50%;
}

.charts .col-story {
  padding: 1rem;
  flex-grow: 1;
  color: rgba(0, 0, 0, 0.8);
}
