
@import '../shared/chip';

@mixin search-place {
  #search {
    margin-bottom: 1rem;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
  }

  #search #location-field {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  #search #location-field #prompt {
    display: none;
  }

  .input-area-hidden #place-list {
    flex-grow: 1;
  }

  #search #location-field #place-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #search #location-field #place-list-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 36px;
    padding: 12px 0;
    width: 100%;
  }

  #search #location-field #search-icon {
    background: url("../images/icon-pin.svg") no-repeat center;
    flex-shrink: 0;
    height: 56px;
    margin-left: 8px;
    margin-right: -28px;
    position: absolute;
    width: 24px;
  }

  .input-area-hidden #ac {
    visibility: hidden;
    width: 0;
  }

  #location-field #ac {
    display: flex;
    flex-grow: 1;
    height: 56px;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto";
    font-size: 16px;
    color: #202124;
    letter-spacing: 0;
    background: url("../images/icon-search.svg") no-repeat;
    background-position: right 16px top 50%;
  }

  #location-field #ac::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.25);
  }

  .chip:focus {
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  #location-field .chip {
    margin-right: 6px;
    border: 0.5px solid #5384ec;
    background: rgba(66, 133, 244, 0.08);
    color: rgba(0, 0, 0, 0.87);
  }

  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }

  /* Maps suggestion dropdown overrides */
  .pac-container {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translateX(-16px);
  }

  .pac-item {
    padding: 4px 16px;
  }

  .pac-icon {
    display: none;
  }

  .pac-logo:after {
    display: none;
  }
}
