@mixin search-place {
  #search {
    margin-bottom: 1rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
  }

  #search #location-field {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  #search #location-field #prompt {
    display: none;
  }

  #search #location-field #place-list {
    margin-left: 36px;
    padding: 12px 0;
  }

  #search #location-field #search-icon {
    width: 24px;
    height: 56px;
    margin-right: -28px;
    margin-left: 8px;
    background: url("../images/icon-pin.svg") no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
  }

  #location-field #ac {
    display: flex;
    flex-grow: 1;
    height: 56px;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto";
    font-size: 16px;
    color: #202124;
    letter-spacing: 0;
    background: url("../images/icon-search.svg") no-repeat;
    background-position: right 16px top 50%;
  }

  #location-field #ac::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.25);
  }

  .mdl-chip {
    height: 32px;
    line-height: 30px;
    padding: 0 12px;
    border: 0;
    border-radius: 16px;
    background-color: #dedede;
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    margin: 2px 0;
    font-size: 0;
    white-space: nowrap;
  }

  #location-field .mdl-chip {
    margin-right: 6px;
    border: 0.5px solid #5384ec;
    background: rgba(66, 133, 244, 0.08);
  }

  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }

  .mdl-chip__action .material-icons {
    color: #3c4043;
    font-size: 18px;
  }

  /* Maps suggestion dropdown overrides */
  .pac-container {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translateX(-16px);
  }

  .pac-item {
    padding: 4px 16px;
  }

  .pac-icon {
    display: none;
  }

  .pac-logo:after {
    display: none;
  }

  .mdl-chip__text {
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
  }

  .mdl-chip__action {
    height: 24px;
    width: 24px;
    line-height: 33px;
    background: transparent;
    opacity: 0.54;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    outline: none;
    overflow: hidden;
  }

  .mdl-chip__contact {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
  }

  .mdl-chip:focus {
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .mdl-chip:active {
    background-color: #d6d6d6;
  }

  .mdl-chip--deletable {
    padding-right: 4px;
  }

  .mdl-chip--contact {
    padding-left: 0;
  }
}
