@import "node_modules/bootstrap/scss/bootstrap";

// Size and Spacing Variables

$spacing: 8px;
$container-horizontal-padding: 3rem;

// Color Variables

$color-white-container: #F8FAFD;

$color-black: #001D35;

$color-blue:#0B57D0;
$color-blue_pill_text:#041E49;
$color-blue_light: #6991D6;
$color-blue_pill_bckg:#E8F0FE;
$color-blue-bckg: #F6F9FF;
$color-blue-chip_bckg: #C2E7FF;

$color-green:#146C2E;
$color-green_pill_text:#072711;
$color-green_pill_bckg:#C4EED0;

$color-red:#B3261E;
$color-red_pill_text:#410E0B;
$color-red_pill_bckg:#F9DEDC;

$color-yellow:#945700;
$color-yellow_pill_text:#410E0B;
$color-yellow_pill_bckg:#FFF0D1;

$color-gray:#444746;
$color-gray_pill_text:#945700;
$color-gray_pill_bckg:#E2E2EC;


// Title sizes

@mixin title_xl {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 300;
  @include media-breakpoint-down(xs) {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}

@mixin title_lg {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 300;
  // background-color: orange;
}

@mixin title_md {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 300;
  // background-color: red;
}

@mixin title_sm {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 300;
  // background-color: blue;
}

@mixin title_xs {
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: 300;
  // background-color: green;
}


// Text Sizes

@mixin text_xl {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  // background-color: yellow;
  @include media-breakpoint-down(sm) {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}

@mixin text_lg {
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: 400;
  // background-color: orange;
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@mixin text_md {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  // background-color: red;
}

@mixin text_sm {
  font-size: 0.875;
  line-height: 1.25rem;
  font-weight: 400;
  // background-color: blue;
}

@mixin text_xs {
  font-size: 0.75rem;
  line-height: 0.625rem;
  font-weight: 400;
  // background-color: green;
}



// Reusable Bits

@mixin shadow {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

@mixin white-box {
  background-color: $color-white-container;
  text-decoration: none;
  &:hover {
    background-color: rgba($color-blue, $alpha: 0.075);
  }
}

@mixin blue-box {
  background-color: $color-blue-chip_bckg;
  text-decoration: none;
  &:hover {
    background-color: rgba($color-blue, $alpha: 0.2);
  }
}

@mixin responsive-video {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: block;
  border: none;
  outline: none;
  overflow: hidden;
  iframe, video {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    isolation: isolate;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: -webkit-radial-gradient(white, black);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

// Generic Elements

.separator {
  margin: auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #C7C7C7;
  max-width: 1280px;
}
