Flask==1.1.2
Flask-Babel
Flask-Caching
attrs==19.3.0
google-cloud-profiler
google-cloud-storage==1.40.0
google-cloud-secret-manager==1.0.0
jinja2==2.11.3
parameterized
pytest-parallel
requests
six
wheel
gunicorn
selenium
flask_testing
yapf==0.31.0
redis==3.5.3
opencensus
opencensus-ext-stackdriver
opencensus-ext-flask
typing_extensions
Werkzeug==1.0.1