Flask==1.1.2
Flask-Babel
Flask-Caching
attrs==19.3.0
google-cloud-profiler
google-cloud-storage
google-cloud-secret-manager==1.0.0
jinja2
parameterized
pytest-parallel
requests
six
wheel
gunicorn
selenium
flask_testing
yapf
redis==3.5.3
opencensus
opencensus-ext-stackdriver
opencensus-ext-flask