Flask==1.1.2
Flask-Caching
attrs==19.3.0
google-cloud-storage
google-cloud-secret-manager==1.0.0
jinja2
parameterized
pytest
python-dateutil
requests
six
wheel
gunicorn
selenium
flask_testing
yapf
redis==3.5.3