small: embeddings_small_2023_05_24_23_17_03.csv
medium: embeddings_medium_2023_05_24_22_15_24.csv
medium_ft: embeddings_medium_ft_final_v20230624010424.ft_intermediate_v20230624010339.all-MiniLM-L6-v2_2023_06_27_22_29_16.csv