small: embeddings_small_2023_05_24_23_17_03.csv
medium_ft: embeddings_medium_2023_08_29_13_28_27.ft_final_v20230717230459.all-MiniLM-L6-v2.csv
sdg_ft: embeddings_sdg_2023_08_29_11_05_00.ft_final_v20230717230459.all-MiniLM-L6-v2.csv
