medium_ft:
  store: MEMORY
  embeddings: embeddings_medium_2024_03_14_16_38_53.ft_final_v20230717230459.all-MiniLM-L6-v2.csv
  model: ft_final_v20230717230459.all-MiniLM-L6-v2
sdg_ft:
  store: MEMORY
  embeddings: embeddings_sdg_2023_12_26_10_03_03.ft_final_v20230717230459.all-MiniLM-L6-v2.csv
  model: ft_final_v20230717230459.all-MiniLM-L6-v2
undata_ft:
  store: MEMORY
  embeddings: embeddings_undata_2024_03_20_11_01_12.ft_final_v20230717230459.all-MiniLM-L6-v2.csv
  model: ft_final_v20230717230459.all-MiniLM-L6-v2
bio_ft:
  store: MEMORY
  embeddings: embeddings_bio_2024_03_19_16_39_03.ft_final_v20230717230459.all-MiniLM-L6-v2.csv
  model: ft_final_v20230717230459.all-MiniLM-L6-v2
medium_lance_ft:
  store: LANCEDB
  embeddings: gs://datcom-nl-models-dev/lancedb/lancedb_embeddings_medium_2024_04_09_07_22_21.ft_final_v20230717230459.all-MiniLM-L6-v2
  model: ft_final_v20230717230459.all-MiniLM-L6-v2