node_modules/
bin/
obj/
.vs/
.DS_Store
/UNSD-Website-skeleton/UNSD.Website/obj/
/UNSD-Website-skeleton/UNSD.Website/bin/
UNSD-Website-skeleton/UNSD.Website/obj/
UNSD-Website-skeleton/UNSD.Website/bin/
UNSD.Website/obj/
UNSD.Website/bin/
/UNSD.Website/obj/
/UNSD.Website/bin/

