#main-nav {
    padding: 1.5rem 2rem;

    .navbar-brand {
        padding: 0;
    }
}

#main-header {

    border-bottom: 1px solid var(--dc-primary);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
    
    #main-header-logo img {
        width: 60px;
        height: auto;
        margin-right: 1.75rem;
    }

    a.site-name {
        font-size: 1.5rem;
        font-weight: 600;
        word-break: break-all;
        width: 160px;
        display: block;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: normal;
        line-height: 1.1;
        border-left: 1px solid var(--dc-primary);
        padding-left: 2rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        margin-right: auto;
    }
}