#main-pane {
    position: static !important;
}

#main-content {
    a {
        font-weight: 500;
    }
}

#explore {
    background-color: #444;
    border-bottom: 2px solid white;
}

#subject-page-sidebar {
    position: sticky;
    top: -50px;

    .nav-item {
        &:hover {
            border-radius: 0;
        }
    }
}