#main-nav {

    a.dropdown-item,
    a.nav-link {
        font-size: 1.15rem;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
        line-height: 1.2;
        color: var(--dc-primary);
    }

    .nav-item {
        &.show {
            a.nav-link {
                font-weight: 600;
            }
        }
    }

    .dropdown-menu {
        border: none;
    }

    .dropdown-item {
        padding: 1rem 1.5rem;
    }

    .dropdown-toggle {
        &::after {
            margin-left: 10px;
            content: '';
            display: inline-block;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMjEgMTUiIGZpbGw9Im5vbmUiPgogIDxwYXRoIGQ9Ik0yIDIuOTg1ODRMMTAuNDg1MyAxMS40NzExTDE4Ljk3MDYgMi45ODU4NCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSI0IiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
            width: 12px;
            height: 9px;
            display: inline-block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            transition: transform 0.3s ease;
        }
    }

    .dropdown {
        &.show {
            .dropdown-toggle {
                &::after {
                    transform: rotate(180deg);
                }
            }  
        }
    }
}

@media (min-width: 1068px) { 
    #main-nav {

        .dropdown-menu {
            border: 1px solid var(--dc-primary);
            border-radius: 0;
            padding: 0;
        }

        .dropdown-item {
            &:not(:last-child) {
                border-bottom: 1px solid var(--dc-primary);
            }
        }
    }
}

@media (max-width: 1067px) { 
    #main-nav {

        .navbar-collapse {
            padding: 2rem 0;
        }

        .dropdown-item {
            padding: 0.5rem 0;
            &:before {
                content: '';
                width: 5px;
                height: 5px;
                display: block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjYiIHZpZXdCb3g9IjAgMCA2IDYiIGZpbGw9Im5vbmUiPgogIDxwYXRoIGQ9Ik0wLjUgMC41VjUuNUg1LjUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4=");
                margin: 5px;
            }
            &:hover,
            &:focus,
            &:active {
                background-color: transparent;
            }
        }
    }
}