:root {
    --dc-primary: #000;
    --dc-accent: #62A6CB;
    --dc-highlight: #5AC7F4;
    --dc-blue: #5AC7F4;
    --link-color: #62A6CB;
    --footer-bg: #000;
    --dc-red-fade: #40d4e033;
    --nav-link-color: #666;
    --dc-headings-font-family: Colfax, sans-serif;
}