.search {

    &__form {
        display: flex;
        margin-top: 1.5rem;
    }

    &__label {
        // visually hidden
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    &__input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--dc-primary);
        border: 1px solid var(--dc-primary);
        border-radius: 0;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        outline: none;
        outline-offset: 0;
      
        &:focus {
          border-color: var(--dc-highlight);
          outline: 0;
          box-shadow: 0 0 0 0.25rem rgb(90, 199, 244, 25%);
        }
    }

    &__submit {
        border: none;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' aria-hidden='true'%3E%3Cpath d='M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z'%3E%3C/path%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        width: 36px;
        height: 38px;
        background-size: 16px 16px;
        cursor: pointer;
    }
}