.search {

    &__form {
        display: flex;
        background-color: rgba(255, 255, 255, 1);
        max-width: 1140px;
        padding: 6px 16px;
        border: 1px solid var(--dc-primary);
        border-radius: 24px;
    }

    &__label {
        // visually hidden
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    &__input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        border: none;
        border-radius: 0;
        outline: none;
        background: transparent;
      
        &:focus {
          border: none;
          outline: 0;
          box-shadow: none;
        }
    }

    &__submit {
        border: none;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 42 42'%3E%3Cpath fill='%23000000' d='M38.5 21c0 2.42-.46 4.696-1.379 6.825-.919 2.13-2.166 3.981-3.74 5.556-1.576 1.575-3.428 2.822-5.557 3.74-2.129.92-4.404 1.379-6.825 1.379-4.083 0-7.707-1.261-10.872-3.784-3.164-2.523-5.228-5.783-6.19-9.779h2.8c.875 3.238 2.632 5.87 5.272 7.897s5.636 3.041 8.99 3.041c4.142 0 7.657-1.444 10.544-4.331 2.888-2.888 4.331-6.402 4.331-10.544s-1.444-7.656-4.331-10.544c-2.887-2.887-6.402-4.331-10.544-4.331-3.354 0-6.35 1.014-8.99 3.04-2.64 2.028-4.397 4.66-5.272 7.898h-2.8c.962-3.996 3.026-7.256 6.19-9.779C13.292 4.761 16.916 3.5 21 3.5c2.421 0 4.696.46 6.825 1.378 2.13.919 3.981 2.166 5.556 3.74 1.575 1.576 2.822 3.428 3.741 5.557.919 2.13 1.378 4.404 1.378 6.825Zm-11.113 0-8.75 8.75-1.838-1.837 5.6-5.6H3.543v-2.625h18.856l-5.6-5.6 1.838-1.838 8.75 8.75Z'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        width: 36px;
        height: 38px;
        background-size: 36px 36px;
        cursor: pointer;
    }
}