.topics {
    padding-top: 1.5rem;
}

article.topic {
    margin-bottom: 1.5rem;
}

figure.topic__figure {
    position: relative;
    margin-bottom: 0;
    border: 2px solid var(--dc-primary);
    transition: all .3s;

    &:hover {
        box-shadow: 4px 4px;
        transform: translate(-2px, -2px);
    }
}

.topic__name {
    position: absolute;
    top: 0;
    margin: 1rem;
    background-color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0.25rem 0.5rem;
}

.topic__description {
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(#fff, 0.9);
    display: flex;
    flex-direction: column;
}

img.topic__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

a.topic__link {
    display: block;
    padding: 0.25rem 0.5rem;
    color: #BBB;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: auto;

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
    }
}