
.vertical-card {
    width: 32%;
    padding: 0;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
    overflow: hidden;
    height: 420px;
}

.vertical-card_img_div {
    height: 40%;
}

.vertical-card_content_div {
    height: 60%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical-card_link_btn {
    border: 1.5px solid #5B92E5;
    border-radius: 20px;
    padding: 6px 24px;
    font-size: 14px;
    text-align: center;
    width: 150px;
    align-self: flex-end;
}

.vertical-card_link_link {
    padding: 6px 24px;
    font-size: 14px;
    text-align: center;
    width: 150px;
    align-self: flex-end;
}

.vertical-card_desc {
    line-height: 1.4;
}