$body-font-family: "Roboto", sans-serif;
$body-font-size: 16px;
$body-font-color: #333;
$body-background-color: #ffffff;
$primary-color: #009edb;
$secondary-color: #333333;
$border-color: #009edb;
$info: #f2f2f2;
$darkColor: #4d4d4d;
$primary-btn-color: #009edb;
$logo-title: "Roboto Condensed", sans-serif;

$grey-background-color: #f2f2f2;
$grey-block-background-color: #f9f9f9;
$main-menu-background-color: #4d4d4d;
$main-menu-font-color: #ffffff;
$main-menu-border-color: #ffffff;
$main-menu-active-font-color: #4d4d4d;
$main-menu-hover-font-color: #4d4d4d;
$main-menu-hover-background-color: #f2f2f2;
$main-menu-active-background-color: #f2f2f2;
$sub-menu-selected-background-color: #4d4d4d;
$darkColor: #4d4d4d;
$btn-box-shadow: 0px 3px 6px rgba(0, 158, 219, 0.2);
$primary-btn-color: #009edb;
$primary-btn-font-size: 14px;
$primary-btn-font-color: #ffffff;
$primary-btn-border-color: #009edb;
$primary-btn-background-color: #009edb;
$primary-btn-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
$secondary-btn-font-size: 14px;
$secondary-btn-font-color: #4d4d4d;
$secondary-btn-background-color: #ffffff;
$secondary-btn-border-color: #4d4d4d;
$secondary-btn-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
$robotCond: "Roboto Condensed", sans-serif;

$card-border-color: 1px solid rgba(0, 0, 0, 0.12);
$card-border-radius: 4px;
$card-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
$normal-border-radius: 4px;

$link-color: #5b92e5;
$input-border-color: #bababa;

$footer-font-color: #ffffff;
$footer-font-link-color: #ffffff;

$tag-background-color: #dcdcdc;
$tag-font-size: 12px;
$tag-font-color: #222;

/* Common Margins & Paddings */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 16px);
  padding-left: var(--bs-gutter-x, 16px);
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 4px !important;
}

.m-2 {
  margin: 8px !important;
}

.m-3 {
  margin: 16px !important;
}

.m-4 {
  margin: 24px !important;
}

.m-5 {
  margin: 32px !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.my-3 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my-4 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.my-5 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-1 {
  margin-top: 4px !important;
}

.mt-2 {
  margin-top: 8px !important;
}

.mt-3 {
  margin-top: 16px !important;
}

.mt-4 {
  margin-top: 24px !important;
}

.mt-5 {
  margin-top: 32px !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 4px !important;
}

.mr-2 {
  margin-right: 8px !important;
}

.mr-3 {
  margin-right: 16px !important;
}

.mr-4 {
  margin-right: 24px !important;
}

.mr-5 {
  margin-right: 32px !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 4px !important;
}

.mb-2 {
  margin-bottom: 8px !important;
}

.mb-3 {
  margin-bottom: 16px !important;
}

.mb-4 {
  margin-bottom: 24px !important;
}

.mb-5 {
  margin-bottom: 32px !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 4px !important;
}

.ml-2 {
  margin-left: 8px !important;
}

.ml-3 {
  margin-left: 16px !important;
}

.ml-4 {
  margin-left: 24px !important;
}

.ml-5 {
  margin-left: 32px !important;
}

.ml-auto {
  margin-left: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 4px !important;
}

.p-2 {
  padding: 8px !important;
}

.p-3 {
  padding: 16px !important;
}

.p-4 {
  padding: 24px !important;
}

.p-5 {
  padding: 32px !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: 4px !important;
  padding-left: 4px !important;
}

.px-2 {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.px-3 {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.px-4 {
  padding-right: 24px !important;
  padding-left: 24px !important;
}

.px-5 {
  padding-right: 32px !important;
  padding-left: 32px !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-3 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-4 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py-5 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 4px !important;
}

.pt-2 {
  padding-top: 8px !important;
}

.pt-3 {
  padding-top: 16px !important;
}

.pt-4 {
  padding-top: 24px !important;
}

.pt-5 {
  padding-top: 32px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 4px !important;
}

.pr-2 {
  padding-right: 8px !important;
}

.pr-3 {
  padding-right: 16px !important;
}

.pr-4 {
  padding-right: 24px !important;
}

.pr-5 {
  padding-right: 32px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 4px !important;
}

.pb-2 {
  padding-bottom: 8px !important;
}

.pb-3 {
  padding-bottom: 16px !important;
}

.pb-4 {
  padding-bottom: 24px !important;
}

.pb-5 {
  padding-bottom: 32px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 4px !important;
}

.pl-2 {
  padding-left: 8px !important;
}

.pl-3 {
  padding-left: 16px !important;
}

.pl-4 {
  padding-left: 24px !important;
}

.pl-5 {
  padding-left: 32px !important;
}

/* Common CSS */
body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  color: $body-font-color;
  text-align: right;
}
.small-text {
  font-size: 12px;
  line-height: 18px;
}

a {
  color: $link-color;
}

a:not([href]) {
  color: $link-color !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  color: #4d4d4d;

  span.small-text {
    font-size: 14px !important;
    font-weight: normal;
  }
}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;

  span {
    font-size: 20px;
    font-weight: 700;
  }
}

@media (max-width: 1023px) {
  h1 {
    font-size: 24px;
    line-height: 30px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;

  &:after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: $border-color;
    display: block;
    margin-top: 5px;
  }

  svg,
  img {
    margin-right: 8px;
    height: 40px;
  }
}

@media (max-width: 1023px) {
  h2 {
    font-size: 22px;

    &:after {
      width: 40px;
    }
  }
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 1023px) {
  h3 {
    font-size: 28px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1023px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1023px) {
  h5 {
    font-size: 16px;
  }
}

h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

@media (max-width: 1023px) {
  h6 {
    font-size: 18px;
  }
}

p {
  margin-bottom: 16px;
  line-height: 20px;

  &:last-child {
    margin: 0px;
  }
}
iframe {
  width: 100%;
}
.ant-btn {
  svg {
    margin-right: 4px;
    width: 12px !important;
  }
}
.ant-btn-primary {
  font-size: $primary-btn-font-size;
  color: $primary-btn-font-color !important;
  border: 1px solid $primary-btn-border-color !important;
  border-radius: 16px;
  box-shadow: $btn-box-shadow;
  background-color: $primary-btn-color !important;

  svg {
    margin-right: 5px;
  }
}
.ant-btn-secondary {
  font-size: $secondary-btn-font-size;
  color: $secondary-btn-font-color !important;
  border: 1px solid $secondary-btn-border-color !important;
  box-shadow: $btn-box-shadow;
  background-color: $secondary-btn-background-color !important;

  svg {
    margin-right: 5px;
  }
}
.ant-layout {
  background: $body-background-color;
}
.ant-card {
  border-radius: $card-border-radius;
}
.ant-card-body {
  padding: 16px;
}
.card-image {
  text-align: center;

  img {
    object-fit: contain;
    width: 100%;
    height: 140px;
    background-color: #f7f7f7;
  }
}

.card-details {
  .card-date-and-type {
    span.date {
      margin: 0px 8px 8px 0px;
      display: inline-block;
      font-size: 12px;

      span {
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 767px) {
  .card-details {
    h4 {
      margin: 0px 16px;
    }

    .card-date-and-type {
      span.date {
        margin-left: 16px;
        display: block;
      }
    }

    p {
      margin: 0 0 0 16px;
    }
  }
}
@media (max-width: 1023px) {
  .ant-layout-header {
    padding: 0px;
    width: 100%;
  }
}
.ant-card-bordered {
  border: $card-border-color;
}
.ant-card-shadow {
  box-shadow: $card-box-shadow;
}
.ant-card-border-radius {
  border-radius: $normal-border-radius;
}
.ant-tag {
  margin-bottom: 8px;
  font-size: $tag-font-size;
  color: $tag-font-color;
  cursor: pointer;
  background-color: $tag-background-color;
}
.photo-gallery {
  cursor: pointer;
}
.ant-form {
  .ant-form-item {
    margin-bottom: 16px;

    .ant-form-item-label {
    }

    .ant-form-item-control {
      font-weight: 700;
    }
  }
}
.filter-section {
  .ant-form-item {
    margin-bottom: 16px;

    .ant-form-item-label {
      font-weight: 700 !important;
    }

    .ant-form-item-control {
      font-weight: normal !important;

      .react-dropdown-select-dropdown {
        width: 100% !important;
        /*top: 35px !important;*/
      }
    }
  }
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input,
.react-dropdown-select {
  border-radius: $normal-border-radius !important;
  border-color: #bababa !important;
}
.ant-select-selection-placeholder {
  color: $body-font-color;
}
.ant-tabs-tab.ant-tabs-tab-active {
  .ant-tabs-tab-btn {
    color: $link-color;
  }
}
.ant-tabs-ink-bar {
  background-color: $link-color;
}
.ant-list-split {
  .ant-list-item {
    border-bottom: 0px;
  }
}
.ant-list-item-meta-description {
  color: $body-font-color;
}
.img-responsive {
  max-width: 100%;
}

.ant-pagination {
  a:not([href]) {
    color: $body-font-color !important;
  }

  a[disabled] {
    color: rgba(#333, 0.25) !important;
  }

  .ant-pagination-prev {
    margin: 0px;
    padding: 0px 8px;
    border: 1px solid #d9d9d9;

    &:hover {
      border-color: #d9d9d9;
      background-color: #ccc;
    }
  }

  .ant-pagination-next {
    margin: 0px 0px 0px -1px;
    padding: 0px 8px;
    border: 1px solid #d9d9d9;

    &:hover {
      border-color: #d9d9d9;
      background-color: #ccc;
    }
  }

  .ant-pagination-item {
    margin: 0px 0px 0px -1px;
    border-radius: 0px;

    &:hover {
      border-color: #d9d9d9;
      background-color: #ebebeb;
    }
  }

  .ant-pagination-item-active {
    border: 1px solid #d9d9d9;
    background-color: $primary-color;

    a:not([href]) {
      color: #ffffff !important;
    }
  }

  .ant-pagination-disabled {
    &:hover {
      background-color: transparent !important;
    }
  }

  .ant-pagination-jump-next {
    margin: 0px 0px 0px -1px;
    border: 1px solid #d9d9d9;

    .ant-pagination-item-container {
      background-color: #ebebeb;

      .ant-pagination-item-ellipsis {
        color: $body-font-color;
      }
    }

    &:hover {
      background-color: #ebebeb;

      .ant-pagination-item-link-icon {
        color: $body-font-color;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }

  .ant-pagination-jump-prev {
    margin: 0px 0px 0px -1px;
    border: 1px solid #d9d9d9;

    .ant-pagination-item-container {
      .ant-pagination-item-ellipsis {
        color: $body-font-color;
      }
    }

    &:hover {
      background-color: #ebebeb;

      .ant-pagination-item-link-icon {
        color: $body-font-color;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }
}

.ant-pagination.mini {
  .ant-pagination-item:not(.ant-pagination-item-active) {
    border: 1px solid #d9d9d9;
  }

  .ant-pagination-item-active {
    border: 1px solid #d9d9d9;
    background-color: $primary-color;

    a:not([href]) {
      color: #ffffff !important;
    }
  }

  .ant-pagination-next {
    margin: 0px 0px 0px -1px;
    padding: 0px 8px;
    border: 1px solid #d9d9d9;

    &:hover {
      border-color: #d9d9d9;
      background-color: #ccc;
    }
  }

  .ant-pagination-item {
    margin: 0px 0px 0px -1px;
    border-radius: 0px;

    &:hover {
      border-color: #d9d9d9;
      background-color: #ebebeb;
    }
  }
}

@media (max-width: 1023px) {
  .ant-pagination {
    .ant-pagination-total-text {
      margin-bottom: 8px;
      width: 100%;
    }

    .ant-pagination-item-active {
      border: 1px solid #d9d9d9;
      background-color: $primary-color;

      a:not([href]) {
        color: #ffffff !important;
      }
    }

    .ant-pagination-jump-next {
      &:hover {
        .ant-pagination-item-link-icon {
          top: 5px;
        }
      }
    }

    .ant-pagination-jump-prev {
      &:hover {
        .ant-pagination-item-link-icon {
          top: 5px;
        }
      }
    }
  }

  .ant-pagination.mini {
    .ant-pagination-item:not(.ant-pagination-item-active) {
      border: 1px solid #d9d9d9;
    }

    .ant-pagination-next {
      margin: 0px 0px 0px -1px;
      padding: 0px 8px;
      border: 1px solid #d9d9d9;

      &:hover {
        color: $body-font-color;
        border-color: #d9d9d9;
        background-color: #ccc;
      }
    }

    .ant-pagination-item {
      margin: 0px 0px 0px -1px;
      border-radius: 0px;

      &:hover {
        border-color: #d9d9d9;
        background-color: $primary-color;
      }
    }
  }
}

.ant-modal {
  .ant-modal-content {
    button.ant-modal-close {
      .ant-modal-close-x {
        .ant-modal-close-icon {
          svg {
            fill: #ffffff;
          }
        }
      }

      &:focus {
        outline: 0;
      }
    }

    .ant-modal-header {
      padding: 16px 54px 16px 24px;
      background-color: $link-color;

      .ant-modal-title {
        color: #fff !important;
      }
    }

    .ant-modal-footer {
      a {
        font-size: 14px;
        color: #ffffff !important;
        border: 1px solid #009edb !important;
        border-radius: 16px;
        box-shadow: 0px 3px 6px rgba(0, 158, 219, 0.2);
        background-color: #009edb !important;
        height: 32px;
        padding: 4px 16px;
        line-height: 1.5715;
        position: relative;
        display: inline-block;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
      }
    }

    .ant-modal-body {
      max-height: 400px;
      overflow: hidden;
      overflow-y: auto;
      .ant-form-vertical {
        .ant-form-item {
          .ant-form-item-label {
            padding: 0px;
          }

          .ant-form-item-control {
            .ant-form-item-control-input {
              min-height: auto;
            }
          }
        }
      }
    }
  }
}
.language-lists {
  margin: 0;
  padding: 0;

  .ant-breadcrumb-link > a {
    color: $link-color !important;
  }
}
.information-box {
  padding: 16px;
  background-color: #fffddc;
}
.event-schedule {
  span {
    margin-left: 16px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #333;

    svg {
      margin-left: 5px;

      path {
        fill: #333;
      }
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

/* Top Navigation CSS */
.topnavigation {
  padding: 8px 0px;
  border-bottom: 4px solid $border-color;
  background: $grey-background-color;

  .un-logo {
    margin: 0 0px 0 10px;
    float: right;
    width: 20px;
  }

  .anticon svg {
    margin-top: -3px;
    width: 0.75em !important;
  }

  ul.language-links {
    float: left;

    li {
      padding: 0px 0px 0px 10px;
      font-size: 12px;

      &:last-child {
        padding: 0px;
      }

      a {
        color: #000;

        &:hover {
          text-decoration: underline;
        }
      }

      a.active {
        font-weight: 700;
      }
    }
  }

  .ant-breadcrumb {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;

    span {
      font-size: 12px;
      font-weight: normal;

      .ant-breadcrumb-link {
        a {
          color: $secondary-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .ant-breadcrumb-separator {
        margin: 0px 5px;
        color: $secondary-color;

        svg {
          width: 0.4em;
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .topnavigation {
    .un-logo {
      margin: 0 0px 15px 10px;
      float: right;
      width: 20px;
    }

    .ant-breadcrumb {
      span {
        font-size: 12px;
      }
    }
  }
}

/* Header Section */
.header-section {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffffff;

  .mobile-wrap {
    margin-left: 16px;
  }

  .logo {
    padding-left: 20px;
    border-left: 1px solid #000000;
  }

  .main-title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: normal;
  }

  .sub-title {
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.5rem;

    span {
      font-size: 23px;
      color: $secondary-color;

      + span {
        padding-right: 20px;
        position: relative;

        &:before {
          margin: 0 10px;
          position: absolute;
          left: -3px;
          width: 6px;
          height: 6px;
          background: #4d4d4d;
          content: "";
          border-radius: 6px;
          transform: translateY(10px);
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 768px) {
    .mobile-wrap {
      margin-left: 0px;
      width: 100%;

      .logo-wrap {
        display: block;
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        margin-bottom: 10px;

        .logo {
          border-left: none;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .header-section {
    padding-bottom: 0px;

    .menu-icon {
      padding: 0;
      position: absolute;
      width: 48px;
      height: 48px;
      color: #009edb;
      font-size: 22px;
      line-height: 18px;
      top: 3px;
      left: 0px;
      border: 1px solid $border-color;
      border-radius: 5px;
    }

    .main-title {
      font-size: 16px;
      margin-bottom: 2px;
    }

    .sub-title {
      line-height: 1.5rem;

      span {
        font-size: 16px;
      }
    }
  }
}

/* Main Menu Section */
.ant-menu {
  text-align: right;
}
.mainmenu {
  background-color: $main-menu-background-color;

  .ant-menu-dark {
    background-color: transparent !important;
    line-height: 40px;
    text-align: right;

    .ant-menu-item {
      padding: 0px;

      span {
        a {
          padding: 0px 16px;
          color: #ffffff;
          border-left: 1px solid #fff;
        }

        a.statistical-commission {
          color: #ffffff !important;
          border-left: none !important;
          background-color: $link-color !important;
        }
      }
    }

    .ant-menu-item-selected,
    .ant-menu-item-active {
      background-color: transparent;

      span {
        a {
          color: #ffffff;
        }

        a.active {
          color: #4d4d4d;
          background-color: #f2f2f2;
        }

        h4 {
          margin-left: 16px;
        }
      }

      &:hover {
        background-color: #f2f2f2;

        span {
          a {
            color: #4d4d4d;
          }

          h4 {
            margin-right: 16px;
          }
        }
      }
    }

    .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
      .ant-menu-item-selected {
      background-color: $primary-color !important;
      color: #ffffff !important;
    }

    .ant-menu-submenu-horizontal {
      padding: 0px;
      border-left: 1px solid #fff;
      color: #ffffff;
      background-color: $main-menu-background-color;

      .ant-menu-submenu-title {
        padding: 0px 16px 0px 42px;

        .ant-menu-submenu-arrow {
          display: block;
          left: 16px !important;
          right: auto;
          opacity: 1;
          top: 17px;
          transform: rotateZ(90deg);
        }
      }
    }

    .ant-menu-submenu-selected {
      color: #4d4d4d !important;
      background-color: #f2f2f2 !important;
    }

    .ant-menu-submenu-selected
      > .ant-menu-submenu-title
      > .ant-menu-submenu-arrow::before,
    .ant-menu-submenu-selected
      > .ant-menu-submenu-title
      > .ant-menu-submenu-arrow::after {
      background: #4d4d4d;
    }

    .ant-menu-submenu-open,
    .ant-menu-submenu-active {
      color: #4d4d4d;
      background-color: #f2f2f2;

      .ant-menu-submenu-title {
        color: #4d4d4d;

        .ant-menu-submenu-arrow {
          &:before,
          &:after {
            background: #4d4d4d;
          }
        }
      }
    }
  }
}

.ant-menu-submenu {
  background-color: #f2f2f2;

  .ant-menu-item {
    span {
      a {
        color: #4d4d4d;
      }

      a.active {
        color: #ffffff !important;
        background-color: #4d4d4d;
      }
    }

    &:hover {
      background-color: #4d4d4d;

      span {
        a {
          color: #ffffff;
        }
      }
    }
  }

  .ant-menu-item-selected {
    background-color: $sub-menu-selected-background-color !important;
    span {
      a {
        color: #ffffff;
      }
    }
  }
}
.ant-menu-vertical {
  .ant-menu-item {
    margin: 0px !important;
    padding: 0px;

    span {
      a {
        padding: 0px 16px;
      }
    }
  }

  .ant-menu-submenu-title {
    padding: 0px 16px 0px 24px;
  }

  .ant-menu-submenu-vertical {
    .ant-menu-submenu-title {
      margin: 0px !important;

      .ant-menu-title-content {
        color: #4d4d4d;
      }

      .ant-menu-submenu-arrow {
        opacity: 1 !important;
        left: 16px;
        right: auto;
        transform: rotate(180deg);

        &::before,
        &::after {
          background-color: #4d4d4d !important;
        }
      }
    }

    &:hover {
      .ant-menu-title-content {
        color: #f2f2f2;
      }
    }
  }

  .ant-menu-submenu-open,
  .ant-menu-submenu-active {
    color: #f2f2f2 !important;
    background-color: #4d4d4d;

    .ant-menu-submenu-title {
      color: #f2f2f2 !important;

      .ant-menu-title-content {
        color: #f2f2f2 !important;
      }

      .ant-menu-submenu-arrow {
        opacity: 1 !important;

        &::before,
        &::after {
          background-color: #f2f2f2 !important;
        }
      }
    }
  }
}
.ant-menu-sub {
  max-height: auto;
  background-color: #f2f2f2 !important;
}
.ant-menu-vertical.ant-menu-sub:not([class*="-active"]) {
  overflow: initial;
  overflow-y: initial;
}
/* Mobile Menu Section */
.mobile-menu-drawer-content {
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      background-color: #f7f7f7;

      .ant-drawer-wrapper-body {
        .ant-drawer-header-no-title {
          background: transparent;

          .ant-drawer-close {
            position: relative;
            float: right;
          }
        }

        .ant-drawer-body {
          padding: 5px 0 0;

          .ant-menu-dark {
            line-height: 40px;
            background-color: #f7f7f7;

            .ant-menu-item {
              margin: 0px;
              padding: 0px !important;

              a {
                color: #4d4d4d;
              }

              a.statistical-commission {
                color: #ffffff !important;
                background-color: $link-color !important;
              }
            }

            .ant-menu-item-selected {
              color: #ffffff !important;
              background: #4d4d4d;

              a {
                color: #ffffff !important;
              }
            }

            .ant-menu-submenu {
              padding: 0px !important;
              color: #4d4d4d !important;
              background-color: #f7f7f7;

              .ant-menu-submenu-title {
                padding: 0px 16px !important;
                color: #4d4d4d;

                .ant-menu-submenu-arrow {
                  display: block;
                  right: 16px;
                  opacity: 1;

                  &:before,
                  &:after {
                    background: #4d4d4d;
                  }
                }
              }

              .ant-menu-sub {
                color: #4d4d4d;
                background: transparent;

                .ant-menu-item-group-title {
                  display: none;
                }

                .ant-menu-item-group-list {
                  .ant-menu-item-selected {
                    a {
                      color: #ffffff;
                    }
                  }
                }
              }

              .ant-menu-item {
                &:hover {
                  a {
                    color: #fff;
                  }
                }
              }
            }

            .ant-menu-submenu-open {
              .ant-menu-submenu-title {
                color: #ffffff;
                background: #4d4d4d;

                .ant-menu-submenu-arrow {
                  &:before,
                  &:after {
                    background: #ffffff;
                  }
                }

                .ant-menu-sub {
                  .ant-menu-item {
                    .ant-menu-title-content {
                      a {
                        color: #fff;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Main Breadcrumb CSS*/
.ant-breadcrumb {
  margin: 16px 0px;

  span {
    font-weight: 500;
    font-size: 14px;
    color: #4d4d4d;
    line-height: inherit;
  }

  .ant-breadcrumb-link > a {
    color: $link-color;
  }

  .ant-breadcrumb-separator {
    .anticon {
      font-weight: normal;

      svg {
        width: 5px;
        height: auto;
      }
    }
  }
}

/* Right Panel CSS */
.right-meeting-and-events {
  .ant-list {
    .ant-list-header {
      margin-bottom: 12px;
      padding-top: 0px;
      padding-bottom: 4px;
    }
  }

  .ant-list.upcoming-events {
    .ant-list-header {
      font-size: 14px;
      color: #00642f;
      border-bottom: 1px solid #00642f;
    }

    .ant-list-items {
      .ant-list-item {
        margin-bottom: 0 !important;
        border: none !important;
      }
    }
  }

  .ant-list.recent-events {
    .ant-list-header {
      color: #ff8000;
      border-bottom: 1px solid #ff8000;
    }
  }

  .ant-list-items {
    .ant-list-item {
      display: block !important;
      margin: 0px 0px 16px 0px;
      padding: 0px 0px 16px 0px;
      border-bottom: 1px solid rgba(50, 50, 50, 0.15);

      span.date {
        margin-right: 8px;
        font-size: 12px;

        span {
          margin-right: 5px;
        }
      }

      .event-date {
        font-size: 42px;
        font-weight: 500;
        line-height: 42px;

        span {
          display: block;
          font-size: 18px;
        }
      }
    }
  }
}
.right-statements-list {
  .ant-list-items {
    .ant-list-item {
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

/* Carousel CSS */
.ant-carousel {
  .slick-slider {
    .slick-dots {
      li {
        margin-right: 5px;
        margin-left: 5px;
        width: 18px;
        height: 18px;

        button {
          width: 18px;
          height: 18px;
          opacity: 1;
          border-radius: 50%;
          border: 1px solid #707070;
          box-shadow: 0px 0px 3px rgba(112, 112, 112, 1);
          background-color: #fff;
        }
      }

      li.slick-active {
        button {
          border: 3px solid #fff;
          box-shadow: 0px 0px 3px rgba(112, 112, 112, 1);
          background-color: $primary-color;
        }
      }
    }

    .slick-dots-bottom {
      bottom: 0px;
    }
  }

  .home-videos {
    .slick-dots {
      margin: 0px;

      li {
        margin-right: 5px;
        margin-left: 5px;
        width: 18px;
        height: 18px;

        button {
          width: 18px;
          height: 18px;
          opacity: 1;
          border-radius: 50%;
          border: 1px solid #707070;
          box-shadow: 0px 0px 3px rgba(112, 112, 112, 1);
          background-color: #fff;
        }
      }

      li.slick-active {
        button {
          border: 3px solid #fff;
          box-shadow: 0px 0px 3px rgba(112, 112, 112, 1);
          background-color: $primary-color;
        }
      }
    }

    .slick-dots-bottom {
      bottom: -30px;
    }
  }

  .slick-arrow {
    padding: 10px 0px;
    width: 30px;
    height: 40px;
    background-color: #fff;

    &:hover {
      background-color: #fff;
    }
  }

  .slick-arrow.slick-prev {
    margin-top: 0px;
    top: -55px;
    right: 20px;
    left: auto;
    color: $body-font-color;
  }

  .slick-arrow.slick-next {
    margin-top: 0px;
    right: 0px;
    top: -55px;
    color: $body-font-color;
  }
}

/* Homepage CSS*/
.home-banner {
  .ant-carousel {
    .slick-arrow {
      padding: 10px 0px;
      width: 30px;
      height: 40px;
      background-color: rgba(#fff, 0.5);
      z-index: 9;

      &:hover {
        background-color: rgba(#fff, 0.5);
      }
    }

    .slick-arrow.slick-prev {
      margin-top: 0px;
      top: 120px;
      right: auto;
      left: 10px;
      color: $body-font-color;
    }

    .slick-arrow.slick-next {
      margin-top: 0px;
      right: 10px;
      top: 120px;
      color: $body-font-color;
    }
  }
}

.banner-background {
  text-align: left;
  display: flex !important;
  justify-content: center;
  align-items: center;
  /*background-color: #F78B33;*/

  img {
    width: 100%;
    object-fit: cover;
    height: 300px;
  }

  .banner-text {
    h3 {
      font-family: $robotCond;
      font-size: 63px;
      font-weight: 700;
      letter-spacing: -0.01em;
      color: #fff;
    }

    h4 {
      font-family: $robotCond;
      font-size: 63px;
      font-weight: normal;
      letter-spacing: -0.01em;
      color: #fff;
    }
  }
}
@media (max-width: 767px) {
  .home-banner {
    .ant-carousel {
      .slick-arrow.slick-prev {
        margin-top: 0px;
        top: 35%;
        right: auto;
        left: 10px;
        color: $body-font-color;
      }

      .slick-arrow.slick-next {
        margin-top: 0px;
        right: 10px;
        top: 35%;
        color: $body-font-color;
      }
    }
  }

  .banner-background {
    img {
      height: 200px !important;
    }

    .banner-text {
      h3 {
        font-family: $robotCond;
        font-size: 42px;
        font-weight: 700;
        letter-spacing: -0.01em;
        color: #fff;
      }

      h4 {
        font-family: $robotCond;
        font-size: 36px;
        font-weight: normal;
        letter-spacing: -0.01em;
        color: #fff;
      }
    }
  }
}

/*Home News*/
.home-news-carousel {
  .slick-list {
    padding-bottom: 8px;
    height: 100%;

    .slick-track {
      display: flex !important;
      height: 100%;

      .slick-slide {
        display: flex;
        height: auto;

        .ant-card {
          .ant-card-cover {
            img {
              height: 200px;
              object-fit: contain;
              background-color: rgba(0, 0, 0, 0.04);
            }
          }

          .ant-card-body {
            padding: 16px 8px;

            p {
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }

            .ant-card-meta {
              .ant-card-meta-detail {
                .ant-card-meta-title {
                  white-space: normal;
                  font-size: 18px;
                  line-height: 20px;
                  color: $link-color;
                }
              }
            }
          }
        }
      }
    }
  }

  .slick-arrow {
    padding: 10px 0px;
    width: 30px;
    height: 40px;
    background-color: #fff;

    &:hover {
      background-color: #fff;
    }
  }

  .slick-arrow.slick-prev {
    margin-top: 0px;
    top: -55px;
    left: 0px;
    right: auto;
    color: $body-font-color;
  }

  .slick-arrow.slick-next {
    margin-top: 0px;
    left: 30px;
    top: -55px;
    color: $body-font-color;
  }
}

/* Home Commitments */
.home-commitments {
  .ant-card {
    .ant-card-cover {
      img {
        height: 265px;
        object-fit: contain;
        background-color: rgba(0, 0, 0, 0.04);
      }
    }

    .ant-card-body {
      padding: 16px 0px;

      .ant-card-meta {
        .ant-card-meta-detail {
          .ant-card-meta-title {
            white-space: normal;
            font-size: 18px;
            line-height: 20px;
            color: $link-color;
          }
        }
      }
    }
  }
}

/* Statistical Commission CSS */
.statistical-commission-content-list {
  .ant-card {
    box-shadow: none;
    border: 1px solid #dcdcdc;
    background-color: rgba(247, 247, 247, 0.5);

    .ant-card-head {
      padding: 0 16px;
      border-color: #dcdcdc;

      .ant-card-head-wrapper {
        .ant-card-head-title {
          padding: 8px 0px;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }

    .ant-card-body {
      .ant-list-split {
        .ant-spin-nested-loading {
          .ant-spin-container {
            .ant-list-item {
              border-bottom: none !important;
            }
          }
        }
      }
    }
  }
}

.statistical-commission-terms-of-reference,
.webcast-recordings {
  .ant-card {
    overflow: hidden;
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;

    .ant-card-head {
      padding: 0px 8px;
      position: absolute;
      top: 0px;
      right: 0px;
      min-height: auto;
      border: none;
      border-bottom-left-radius: $card-border-radius;
      background-color: #ffbb56;

      .ant-card-head-wrapper {
        .ant-card-extra {
          padding: 0px;
        }
      }
    }

    .ant-card-body {
      padding: 8px;

      .ant-card-meta {
        .ant-card-meta-detail {
          .ant-card-meta-description {
            font-size: 18px;
            font-weight: 500;
            color: $link-color;
            line-height: 24px;
          }
        }
      }
    }
  }
}

/* Decisions CSS */
.decision-listings {
  .ant-form-item-label {
    padding: 0px;
  }

  .ant-form-item-control-input {
    min-height: auto;
  }
}

@media (max-width: 767px) {
  .decision-listings {
    .ant-form-item-label {
      padding: 0px 8px 0px 0px;
    }
  }
}

/* Bureau CSS */
.bureau-lists {
  .ant-list-item {
    &:last-child {
      border: none;
    }
  }
}
/* Sessions CSS */
.youtube-video {
  iframe {
    height: 275px;
  }
}
.sessions-card {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background: #f8f8f8;
}
.session-resources {
  .ant-list-items {
    .ant-list-item {
      .ant-avatar {
        width: auto !important;
        height: auto !important;
        line-height: 20px !important;
      }

      p {
        line-height: 20px;
      }
    }
  }
}
.session-documents {
  background-color: transparent !important;

  .ant-collapse-item {
    .ant-collapse-header {
      padding: 12px 0px 12px 0px;
      display: flex;
      align-items: stretch;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;

      .ant-collapse-arrow {
        margin-top: 21px;
        font-size: 20px;
      }

      .small-text {
        font-weight: normal;
      }
    }

    .ant-collapse-content {
      .ant-collapse-content-box {
        padding-left: 24px;

        h5 {
          font-size: 18px;
          font-weight: 500;
          border-bottom: 1px solid #dcdcdc;
        }

        h6 {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}

.documents-list {
  .ant-list-item {
    margin: 0px;
    border-bottom: none;
  }

  .ant-breadcrumb > span:last-child a {
    color: $link-color !important;
  }
}

@media (max-width: 1023px) {
  .documents-list {
    padding-left: 16px;
    padding-right: 16px;
  }

  .documentation-text {
    order: 2;
  }

  .documentation-image {
    order: 1;
  }
}

/* Past Sessions*/
.past-sessions-listing {
  .ant-card-body {
    padding: 0px;
  }
  img {
    object-fit: contain;
  }
}

/* Chairs of Past Session */
.chairmans-list {
  .ant-card {
    .ant-card-cover {
      img {
        height: 200px;
        object-fit: contain;
        background: #f2f2f2;
      }
    }

    .ant-card-body {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
.ant-list-item-meta-avatar {
  margin-left: 8px;
}
/* Side Events CSS */
.side-events {
  background-color: transparent !important;

  .ant-collapse-item {
    .ant-collapse-header {
      padding: 12px 0px 12px 0px;
      display: flex;
      align-items: stretch;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;

      .ant-collapse-arrow {
        margin-top: 4px;
        font-size: 20px;
      }

      .small-text {
        font-weight: normal;
      }
    }

    .ant-collapse-content {
      .ant-collapse-content-box {
        padding-left: 24px;

        .ant-list-split {
          .ant-list-header {
            padding: 0px;
            border-bottom: none;

            h4 {
              border-bottom: 1px solid #ccc;
            }
          }
        }

        .ant-tag-closed {
          color: #333;
          font-weight: 500;
          background-color: #9fe8ff;
        }

        .ant-list-item {
          border-bottom: 1px solid #dcdcdc;

          .ant-list-item-meta {
            display: flex;
            align-items: baseline;

            .ant-list-item-meta-avatar {
              margin-right: 8px;

              svg {
                width: 16px;
                height: 16px;
              }
            }

            .ant-list-item-meta-content {
              .ant-list-item-meta-description {
                font-size: 12px;
                line-height: 16px;
              }
            }
          }

          &:last-child {
            border-bottom: 0px solid transparent !important;
          }
        }
      }
    }
  }
}
/* Calendar of Events CSS */
.calendar-of-events-listings {
  .ant-card {
    overflow: hidden;

    .ant-card-body {
      padding: 0px;
    }
  }
}

/* Statements of Directors CSS */
.director-statements-listings {
  .ant-card {
    overflow: hidden;

    .ant-card-body {
      padding: 0px;
    }
  }
}

/* Photo Gallery */
.photo-gallery-years-list {
  .slick-list {
    margin: 0px 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .slick-track {
      .slick-slide {
        height: 38px;
        line-height: 38px;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, 0.12);

        &::before {
        }
      }
    }
  }

  .slick-arrow {
    padding: 10px 0px;
    width: 30px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;

    &:hover {
      background-color: #fff;
    }
  }

  .slick-arrow.slick-prev {
    margin-top: 0px;
    left: 0px;
    top: 0px;
    color: $body-font-color;
    border-top-left-radius: $normal-border-radius;
    border-bottom-left-radius: $normal-border-radius;
  }

  .slick-arrow.slick-next {
    margin-top: 0px;
    right: 0px;
    top: 0px;
    color: $body-font-color;
    border-top-right-radius: $normal-border-radius;
    border-bottom-right-radius: $normal-border-radius;
  }
}
/* About Us CSS */
.sortby {
  .ant-form-item-label {
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  .sortby {
    .ant-form-item-label {
      padding: 0px 8px 0px 0px;
    }
  }
}
.director-biography-image {
  margin: 0px 16px 4px 0px;
  float: left;
}
@media (max-width: 767px) {
  .director-biography-image {
    margin: 0px 0px 16px 0px;
  }
}
/* Frequently Asked Questions */
.ant-collapse-icon-position-right
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  position: relative;
  top: initial;
  right: initial;
  left: initial;
  margin: 4px 0px 0px 12px;
  transform: initial;
}
.faqs {
  background-color: transparent !important;

  .ant-collapse-item {
    .ant-collapse-header {
      padding: 12px 0px 12px 0px;
      display: flex;
      align-items: stretch;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;

      .ant-collapse-arrow {
        margin-top: 4px;
        font-size: 20px;
      }
    }

    .ant-collapse-content {
      .ant-collapse-content-box {
        padding-left: 24px;
      }
    }
  }

  .ant-collapse-item-active {
    border-bottom: none !important;
  }
}
.faq-questions {
  background-color: transparent !important;

  .ant-collapse-item {
    .ant-collapse-header {
      padding: 12px 0px 12px 0px !important;
      display: flex !important;
      align-items: stretch !important;
      font-size: 18px !important;
      font-weight: 500 !important;
      line-height: 26px !important;

      .ant-collapse-arrow {
        margin-top: 5px !important;
        font-size: 16px !important;
      }
    }

    .ant-collapse-content {
      .ant-collapse-content-box {
        padding-left: 24px !important;

        .ant-list-item {
          padding: 0px 16px 8px 0px;
          justify-content: right;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 8px;
            right: 0;
            height: 6px;
            width: 6px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background-color: #333;
          }
        }
      }
    }
  }
}

/* Anniversary CSS */
.intro-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.anniversary-videos-links {
  .ant-card {
    .ant-card-body {
      padding: 16px 0px;

      .ant-card-meta {
        .ant-card-meta-detail {
          .ant-card-meta-title {
            white-space: normal;
            font-size: 18px;
            line-height: 20px;
            color: $link-color;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .anniversary-videos-links {
    .ant-card {
      height: auto;
    }
  }
}

.participation-statistics {
  .ant-list-item {
    display: block;
  }
}
.participation-statistics-no {
  font-size: 20px;
  font-weight: 700;
  text-align: right;
}

/* Milestone CSS */
.milestones-list {
  .ant-timeline {
    .ant-timeline-item {
      .ant-timeline-item-label {
        width: calc(25% - 12px);
        font-size: 24px;
        font-weight: 700;
        top: -16px;

        span {
          display: block;
          font-size: 14px;
          font-weight: normal;
          line-height: 18px;
        }
      }

      @media (max-width: 1023px) {
        .ant-timeline-item-label {
          font-size: 14px;
        }
      }

      .ant-timeline-item-tail {
        top: -30px;
        height: calc(100% - 0px);
      }

      .ant-timeline-item-tail,
      .ant-timeline-item-head {
        left: 25% !important;
      }

      .ant-timeline-item-head-blue {
        color: $link-color;
        border-color: $link-color;
      }

      .ant-timeline-item-content {
        left: calc(25% - 4px);
        width: calc(75% - 14px);
        top: -19px;

        .ant-list {
          padding: 16px;
          background-color: #d8f6ff;
          position: relative;

          &:after {
            right: 100%;
            top: 15px;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-right-color: #d8f6ff;
            border-width: 10px;
          }

          .ant-list-item {
            padding: 0px 0px 8px 16px;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              top: 8px;
              left: 0;
              height: 6px;
              width: 6px;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              background-color: #333;
            }

            &:last-child {
              padding: 0px 0px 0px 16px;
            }
          }
        }
      }
    }

    .ant-timeline-item-last > .ant-timeline-item-tail {
      display: initial;
    }
  }
}

/* Publication CSS */
.introtext {
  font-size: 17px;
  line-height: 24px;
}
.publication-banner {
  .ant-carousel {
    .slick-arrow {
      padding: 10px 0px;
      width: 30px;
      height: 40px;
      background-color: rgba(#fff, 0.5);
      z-index: 9;

      &:hover {
        background-color: rgba(#fff, 0.5);
      }
    }

    .slick-arrow.slick-prev {
      margin-top: 0px;
      top: 40%;
      right: auto;
      left: 16px;
      color: $body-font-color;
    }

    .slick-arrow.slick-next {
      margin-top: 0px;
      right: 16px;
      top: 40%;
      color: $body-font-color;
    }
  }
}
.feedback-survey {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #9fe8ff;

  .ant-btn-primary {
    color: #222 !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ffffff !important;
    background-color: #ffffff !important;
  }
}
.publication-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.publication-past-sessions {
  .ant-card {
    overflow: hidden;
    position: relative;
    height: 100%;
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;

    .ant-card-body {
      padding: 0px;

      h4 {
        color: #5b92e5;
        display: flex;

        svg {
          margin-right: 8px;
        }

        svg.one {
          color: #5b92e5;
        }

        svg.two {
          color: #5b92e5;
        }

        svg.three {
          color: #5b92e5;
        }
      }

      .link-one,
      .link-two,
      .link-three {
        position: absolute;
        bottom: 0px;
      }

      .link-one {
        color: #ffffff;
        display: block;
        width: 100%;
        background-color: #5b92e5;
      }

      .link-two {
        color: #ffffff;
        display: block;
        width: 100%;
        background-color: #5b92e5;
      }

      .link-three {
        color: #ffffff;
        display: block;
        width: 100%;
        background-color: #5b92e5;
      }
    }
  }
}

.pocketbook-earlier-editions {
  .language-lists {
    padding: 0px;
    padding-left: 8px;
  }

  .ant-list-items {
    .ant-list-item {
      h4 {
        display: flex;
      }

      .ant-list-item-meta {
        .ant-list-item-meta-avatar {
          margin-right: 0px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .pocketbook-earlier-editions {
    .language-lists {
      padding: 0px;
    }

    .ant-list-items {
      .ant-list-item {
        h4 {
          display: block;
        }
      }
    }
  }
}

.right-new-publications-list {
  .ant-list-items {
    .ant-list-item {
      border-bottom: 1px solid #ccc;

      h4 {
        margin: 0px !important;
        font-size: $body-font-size;
        font-weight: normal;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
ul#expList {
  li {
    a {
      margin-left: 8px;
    }
  }
}
.treelist {
  margin: 0px 0px 8px 0px;
  padding: 0px;
  list-style-type: none;
  color: $primary-color;

  a:not([href]) {
    margin-left: 4px;
    color: $body-font-color !important;
  }
}

.playstore-icons {
  width: 49%;
}
.ant-tree-switcher {
  width: 8px;
  line-height: 18px;
}

.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
.ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  background-color: transparent;
}

.ant-tree.ant-tree-directory .ant-tree-treenode:hover::before {
  background-color: transparent;
}

.ant-tree.ant-tree-directory
  .ant-tree-treenode
  .ant-tree-node-content-wrapper.ant-tree-node-selected {
  color: $body-font-color;
}

.ant-tree {
  .ant-tree-list {
    .ant-tree-list-holder {
      .ant-tree-list-holder-inner {
        .ant-tree-treenode {
          .ant-tree-node-content-wrapper {
            &:hover {
              background-color: transparent;
            }

            .ant-tree-iconEle {
              line-height: 18px;
            }

            .ant-tree-title {
              color: $primary-color;

              span {
                a:not([href]) {
                  margin-left: 4px;
                  color: $body-font-color !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Footer CSS*/
.ant-layout-footer {
  margin: 24px 0px 0px 0px;
  padding: 24px 0px;
  color: rgba(255, 255, 255, 1);
  font-size: 13px;
  background: #333333;
}

.footer-section {
  color: #c4c4c4;

  h4 {
    color: #c4c4c4;
    border-bottom: 1px solid #ffffff;
  }

  svg {
    margin-left: 5px;
  }

  .icons-list {
    .anticon {
      font-size: 25px;
      margin: 0 10px;
      color: #c4c4c4;
    }
  }

  a.copyrights {
    color: $footer-font-link-color;

    &:hover {
      text-decoration: underline;
    }
  }

  .links {
    direction: rtl;
    text-align: left;
    text-transform: uppercase;

    a {
      color: $footer-font-link-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 1023px) {
    .links {
      margin-bottom: 10px;
      text-align: left;

      a {
        float: left;
      }

      span {
        float: left;
      }
    }
  }
}

.ant-back-top {
  left: 16px;
  bottom: 16px;

  .backtotop {
    height: 40px;
    width: 40px;
    font-size: 30px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(0, 158, 219, 0.7);
  }
}

.linkbreak {
  word-break: break-all;
}

@media (max-width: 767px) {
  .ant-picker-panels {
    flex-direction: column;
  }
}
