### ONE Data Commons — PRODUCTION environment ###

### API keys ###

DC_API_KEY=<YOUR_DC_API_KEY>
MAPS_API_KEY=<YOUR_MAPS_API_KEY>

### Directories ###

INPUT_DIR=gs://one-datacommons-imports-prod/
OUTPUT_DIR=gs://one-datacommons-imports-prod/

### Database ###

USE_CLOUDSQL=true
GOOGLE_CLOUD_PROJECT=one-data-commons
CLOUDSQL_INSTANCE=one-data-commons:us-east4:dc-graph-prod
DB_NAME=datacommons
DB_USER=datacommons
DB_PASS=<YOUR_DB_PASS>

### Application settings ###

FLASK_ENV=one
ENABLE_MODEL=true
REDIS_HOST=10.143.80.83
ADMIN_SECRET=<YOUR_ADMIN_SECRET>
