absl-py==0.9.0
asn1crypto==0.24.0
astroid==2.4.2
attrs==19.3.0
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
crcmod==1.7
cryptography==2.6.1
cycler==0.10.0
datacommons==1.2.0
dbus-python==1.2.16
descartes==1.1.0
distro-info==0.21
entrypoints==0.3
Fiona==1.8.13.post1
flake8==3.8.3
geojson==2.5.0
geopandas==0.8.1
isort==4.3.21
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.0
mccabe==0.6.1
munch==2.5.0
numpy==1.19.1
pandas==1.0.5
Pillow==7.2.0
pycodestyle==2.6.0
pycrypto==2.6.1
pycurl==7.43.0.2
pyflakes==2.2.0
PyGObject==3.36.0
pylint==2.5.3
pyparsing==2.4.7
pyproj==2.6.1.post1
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.25
rdp==0.8
SecretStorage==2.3.1
Shapely==1.7.0
six==1.12.0
toml==0.10.1
wrapt==1.12.1
