/* FOOTER */

ul#footer_nav_redesign {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 20px 33px;
    list-style-type: none;
    padding: 0;
}

#footer_nav_redesign li.footer-head {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
}

#footer_nav_redesign li.footer-head a {
    font-weight: 500;
}

#footer_row_one {
    text-align: left;
}

#footer_logo,
#footer_social,
footer .social_icons {
    float: none;
}

#footer_social {
    margin: 40px 0 20px;
}

#footer_badges {
    position: static;
    float: left;
}

#footer_col_one {
    width: 25%;
    display: inline-block;
}

#footer_col_two {
    display: inline-block;
    width: 73%;
    vertical-align: top;
}

#footer_nav_redesign li {
    font-size: 12px;
    line-height: 26px;
    text-align: left;
}

.social_icons li a {
    background-image: url('../images/sprites-redesign.png');
}

.social_icons li.fbk a,
.social_icons li.fbk a:hover {
    background-position: 0 0;
}

.social_icons li.twt a,
.social_icons li.twt a:hover {
    background-position: -100px 0;
}

.social_icons li.igm a,
.social_icons li.igm a:hover {
    background-position: -200px 0;
}

.social_icons li.fbk a:hover,
.social_icons li.twt a:hover,
.social_icons li.igm a:hover {
    opacity: 0.8;
}

#footer_badges a:first-child img {
    width: 70px;
    margin-right: 10px;
}

#footer_badges a:nth-child(2) img {
    width: 90px;
}



#footer_col_two ul#footer_nav_redesign li.footer-head {
    text-transform: uppercase;
}





@media screen and (min-width: 768px) and (max-width: 991px) {

    #footer_col_two ul#footer_nav_redesign {
        margin: 20px 0 20px 10px;
    }
    #footer_col_two ul#footer_nav_redesign:nth-child(1) {
        width: 18%;
    }
    #footer_col_two ul#footer_nav_redesign:nth-child(3) {
        width: 20%;
    }
    #footer_col_two ul#footer_nav_redesign:nth-child(2) {
        width: 27%;
    }
    #footer_col_two ul#footer_nav_redesign:nth-child(4) {
        width: 24%;
    }
    #footer_links a {
        margin: 0 10px;
    }
    #footer_badges a:first-child img {
        width: 70px;
        display: inline-block;
        margin-right: 10px;
    }
    #footer_badges a:nth-child(2) img {
        width: 90px;
        display: inline-block;
    }

}

@media screen and (max-width: 767px) {
    #footer_nav_redesign li {
        display: none;
    }
    #footer_nav_redesign li.footer-head {
        display: block;
        text-align: right;
    }
    #footer_col_two ul#footer_nav_redesign {
        display: block;
    }
    #footer_col_two {
        width: 40%;
    }
    #footer_col_one {
        width: 45%;
        margin-left: 30px;
    }
    #footer_social {
        padding: 0;
    }
    #footer_social {
        border-bottom: 0;
    }
    #footer_social {
        margin: 30px 0;
    }
    #footer_badges {
        padding: 0 20px;
        text-align: left;
        max-width: 150px;
    }
    #footer_badges a:first-child img {
        width: 90px;
        margin-bottom: 15px;
    }
    #footer_badges a:nth-child(2) img {
        width: 90px;
    }
    .social_icons li a {
        width: 36px !important;
        height: 36px;
        background-size: 460px;
    }
    ul.social_icons li.twt a,
    .social_icons li.twt a:hover {
        background-position: -72px 0;
    }
    ul.social_icons li.igm a,
    .social_icons li.igm a:hover {
        background-position: -144px 0;
    }
}