.text-columns {
  .container {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 0 calc(#{var.$spacing} * 6);
  }
  .header {
    grid-column: 1 / span 2;
    order: 0;
    margin-bottom: calc(#{var.$spacing} * 3);
  }
  h3 {
    @include var.title_sm;
  }
  p {
    @include var.text_md;
  }
}