.text-columns {
  .container {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 0 calc(#{var.$spacing} * 6);
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  .header {
    grid-column: 1 / span 2;
    order: 0;
    margin-bottom: calc(#{var.$spacing} * 3);
  }
  .col_left{
    @include media-breakpoint-down(sm) {
      margin-bottom: calc(#{var.$spacing} * 3);
    }
  }
  h3 {
    @include var.title_sm;
  }
  p {
    @include var.text_md;
  }
  ul {
    margin: 0;
    padding-left: calc(#{var.$spacing} * 3);
  }
  a.btn-primary {
    border-radius: 100px;
    padding: calc(#{var.$spacing} + 2px) calc(#{var.$spacing} * 3);
    background-color: var.$color-blue;
  }
  &.no-header {
    h3 {
      margin-bottom: calc(#{var.$spacing} * 3);
    }
  }
}