.text-images {
  .container {
    padding: calc(#{var.$spacing} * 12) 0;
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 0 calc(#{var.$spacing} * 6);
  }
  .header {
    grid-column: 1 / span 2;
    order: 0;
  }
  .media {
    figure {
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .video-player {
      @include var.responsive-video;
      padding-bottom: 56.25%;
      border-radius: 20px;
    }
  }
  .header {
    h3 {
      @include var.title_sm;
      margin-bottom: calc(#{var.$spacing} * 3);
    }
  }
  .text {
    p {
      @include var.text_md;
    }
  }
}