// Tools section
  .tools{
    padding-top: calc(#{var.$spacing} * 10);
    padding-bottom: calc(#{var.$spacing} * 10);
    background: var.$color-blue-bckg;
  }
  .tools-buttons{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: calc(#{var.$spacing} * 3);
    margin: 0;
    padding: 0;
    li{
      display: block;
      padding: 0;
      margin: 0;
      flex-basis: 200px;
      a{
        @include var.white-box;
        @include var.text_xl;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: calc(#{var.$spacing} * 2);
        padding: calc(#{var.$spacing} * 3);
        border-radius: calc(#{var.$spacing} * 4);
      }
    }
  }
  .tool-icon{
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    &.timeline{
      background-image: url('/images/icons/icon-timeline.svg')
    }
    &.api{
      background-image: url('/images/icons/icon-api.svg')
    }
    &.download{
      background-image: url('/images/icons/icon-download.svg')
    }
    &.map{
      background-image: url('/images/icons/icon-map.svg')
    }
    &.scaterplot{
      background-image: url('/images/icons/icon-scaterplot.svg')
    }
  }