// Build Your Own section
  .video-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(#{var.$spacing} * 6);
  }
  .video-description{
    p{
      @include var.text_lg;
    }
  }
  .video-player{
    @include var.responsive-video;
    padding-bottom: 56.25%;
    border-radius: 20px;
  }