
.custom-card {
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    height: 250px;
    margin: 30px 0px;
    overflow: hidden;
}

.custom-card_img {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px 0px 0px 12px;
}

.custom-card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 30px;
}

.custom-card_content p {
    line-height: 1.4;
}

.custom-card_link {
    width: 150px;
}

.custom-card_link_btn {
    color: #009EDB;
    border-color: #009EDB;
    border-width: 1.5px;
    width: 100%;
}

.custom-card_link_btn_refresh {
    color: #009EDB;
    border-color: #009EDB;
    border-width: 1.5px;
    width: 150px;
}
