.tooltip {
    display: flex;
    width: 100;
    height: 100;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    border: solid;
    border-radius: 1px;
    color: #fff;
    box-sizing: border-box;
    display: inline;
    font-size: 8px;
    position: absolute;
    text-align: center;
  }

  .axis-label {
    text-anchor: middle;
    font-size: 12px;
  }
  
  .legend-label {
    font-size: 10px;
  }