
.custom-btn {
    padding: 6px 24px;
    font-size: 14px;
    background-color: #5B92E5;
    color: #fff;
    text-align: center;
    border: 1.5px solid #5B92E5;
    border-radius: 20px;
}

.outline,
.ant-modal .ant-modal-content .ant-modal-footer a.outline {
    background-color: transparent !important;
    color: #5B92E5 !important;
}

.custom-btn:hover {
    color: #fff;
}

.link_type {
    text-align: center;
    border: none;
    color: #5B92E5;
    background-color: transparent;
}